.unilogin-component-funds.unilogin-theme-jarvis
  .assets
    max-width: 522px
    min-width: 522px
    margin: 0 auto

    @media only screen and (max-width: 600px)
      min-width: 100%

  .assets-title
    margin: 0 0 8px
    font-size: 16px
    font-weight: normal
    text-transform: capitalize
    color: #31405E

  .assets-list
    background: #FFFFFF
    border: 1px solid #C7C7D4
    border-radius: 2px