.unilogin-component-assets-item.unilogin-theme-jarvis + .unilogin-component-assets-item.unilogin-theme-jarvis
  border-top: 1px solid #e3e3e9

.unilogin-component-assets-item.unilogin-theme-jarvis

  .assets-item-right
    text-align: right

  .assets-name,
  .assets-balance
    margin: 0 0 5px
    font-size: 14px
    line-height: 17px
    color: #31405E
    font-weight: normal
    text-align: left

  .assets-price
    font-size: 12px
    line-height: 14px
    color: #31405E

  .assets-price-tilde
    color: #31405E
    font-size: 14px
    line-height: 14px

  .assets-balance-converted
    margin-top: 5px
