.unilogin-theme-jarvis.universal-login-disconnect-account
  @media only screen and (max-width: 770px)
    display: flex
    flex-direction: column
    flex: 1

  .jarvis-styles
    @media only screen and (max-width: 770px)
      display: flex
      flex-direction: column
      flex: 1

    .disconnect-account
      @media only screen and (max-width: 770px)
        display: flex
        flex-direction: column
        flex: 1
        padding: 115px 15px 0

    .disconnect-account::before
      @media only screen and (max-width: 770px)
        top: 30px

    .disconnect-account-form
      min-width: 370px

      @media only screen and (max-width: 770px)
        margin-bottom: 40px auto 10px

      @media only screen and (max-width: 400px)
        min-width: 100%
        margin-bottom: 10px

    .disconnect-account-buttons
      margin-top: auto

      @media only screen and (max-width: 770px)
        margin-bottom: 20px

    .disconnect-account-buttons > button
      @media only screen and (max-width: 550px)
        width: 100%
