.unilogin-theme-jarvis
  .unilogin-component-modal-wrapper
    min-width: 770px

    @media only screen and (max-width: 770px)
      min-width: 100%

  .unilogin-component-modal
    border-radius: 0
    background: #fff

  .unilogin-component-modal-overlay
    display: none
