.unilogin-theme-jarvis.unilogin-component-btn-primary.funds-topup
  background-color: #2EC9F5
  color: #fff
  margin-right: 3.5rem

.unilogin-theme-jarvis.unilogin-component-btn-primary.funds-send
  color: #2EC9F5
  border-color: #2EC9F5
  &::before
    background: url('./../../../assets/icons/arrow-send.svg') center no-repeat
    background-size: contain
