.unilogin-theme-jarvis.dashboard
  .dashboard-content
    display: flex
    flex-direction: column

    @media only screen and (max-width: 768px)
      justify-content: flex-start

  .dashboard-content-box
    @media only screen and (max-width: 768px)
      min-height: min-content


  .unilogin-component-notice-wrapper
      @media only screen and (max-width: 768px)
        margin-top: 0
