.unilogin-theme-jarvis.unilogin-component-waitingfor
  .unilogin-component-waitingfor-modal-pending-section
    max-width: 570px
    padding: 10px 5px 30px

  .unilogin-component-waitingfor-action-description
    display: none

  .unilogin-component-waitingfor-txn-hash-link
    font-size: 13px

  .unilogin-component-waitingfor-info-text
    font-size: 16px
    color: #31405E
    line-height: 24px
    max-width: 650px
    margin: auto

  .unilogin-component-waitingfor-action-title-box
    padding: 22px 25px
    background: #ffffff

  .unilogin-component-waitingfor-action-title
    font-size: 20px
    color: #31405E
    font-weight: 500

  .unilogin-component-waitingfor-modal-pending-img::before
    content: ''
    position: absolute
    left: 50%
    width: 105px
    height: 115px
    transform: translateX(-50%)
    background: url('./../../../assets/themes/Jarvis/illustrations/avatatPending@2x.png') center no-repeat
    background-size: contain

  .unilogin-component-waitingfor-modal-pending-img
    display: block
    width: 105px
    height: 115px
    margin: 38px auto 42px

  .universal-login-waitingfor
    width: 100%

  .unilogin-component-waitingfor-action-title-box
    padding: 22px 25px
    background: #ffffff

  .unilogin-component-waitingfor-action-title
    font-size: 20px
    color: #31405E
    font-weight: 500

  .unilogin-component-waitingfor-pending-bar
    margin-bottom: 26px
