.unilogin-theme-jarvis .unilogin-component-waitingfor-txn-hash-link
  font-size: 13px

.unilogin-theme-jarvis .unilogin-component-waitingfor-info-text
  font-size: 16px
  color: #31405E
  line-height: 24px
  max-width: 650px
  margin: auto

.unilogin-theme-jarvis .unilogin-component-waitingfor-action-title-box
  padding: 22px 25px
  background: #ffffff

.unilogin-theme-jarvis .unilogin-component-waitingfor-action-title
  font-size: 20px
  color: #31405E
  font-weight: 500

.unilogin-theme-jarvis .unilogin-component-waitingfor-modal-pending-img::before
  content: ''
  position: absolute
  left: 50%
  width: 105px
  height: 115px
  transform: translateX(-50%)
  background: url('./../../../assets/themes/Jarvis/illustrations/avatatPending@2x.png') center no-repeat
  background-size: contain

.unilogin-theme-jarvis .unilogin-component-waitingfor-modal-pending-img
  display: block
  width: 105px
  height: 115px
  margin: 38px auto 42px

.unilogin-theme-jarvis .unilogin-component-waitingfortransaction-transaction-hash-title
  font-size: 12px
  color: #AFB2BD
  text-align: left
  margin-bottom: 5px

.unilogin-theme-jarvis .unilogin-component-waitingfortransaction-txn-hash-text
  width: 100%
  height: 50px
  font-size: 18px
  color: #2EC9F5
  font-weight: 600
  border: 1px solid #E1E1F0

.unilogin-theme-jarvis .universal-login-waitingfor
  width: 100%

.unilogin-theme-jarvis .unilogin-component-waitingfor-action-title-box
  padding: 22px 25px
  background: #ffffff

.unilogin-theme-jarvis .unilogin-component-waitingfor-action-title
  font-size: 20px
  color: #31405E
  font-weight: 500

.unilogin-theme-jarvis .unilogin-component-waitingfor-pending-bar
  margin-bottom: 26px

.unilogin-theme-jarvis .unilogin-component-waitingfortransaction-txn-img
  display: none

.unilogin-theme-jarvis .unilogin-component-button-close
  display: none

.unilogin-theme-jarvis .unilogin-component-company-logo
  display: none
