.unilogin-theme-jarvis .unilogin-component-waitingfor-modal-pending-section
  max-width: 570px
  padding: 10px 5px 30px

.unilogin-theme-jarvis .unilogin-component-waitingfor-action-description
  display: none
