.unilogin-theme-jarvis
  .input
    width: 100%
    height: 50px
    padding: 0 53px 0 20px
    background: #FFFFFF
    font-size: 14px
    color: #31405E

  .jarvis
    position: relative
    margin-bottom: 25px

    .unilogin-component-selector-input-wrapper
      margin-bottom: 25px

    .input-unilogin-component-input-wallet-selector
      height: 50px
      width: 100%
      padding: 12px 12px 12px 42px
      background: #FFFFFF
      border: 1px solid #E1E1F0
      border-radius: 0
      font-size: 14px
      color: #31405E

    .unilogin-component-suggestions-item-text
      opacity: 0.7
      font-size: 14px
      color: #31405E

  .jarvis-input-label
    display: block
    font-weight: 700
    margin-bottom: 10px
    font-size: 16px
    color: #31405E
    text-transform: uppercase

  .custom-input
    max-width: 500px
    width: 100%
    height: 50px
    padding-left: 20px
    background: #FFFFFF
    border: 1px solid #E1E1F0
    font-size: 14px
    color: #000000

  .unilogin-component-ens-name
    font-size: inherit

  .unilogin-component-suggestions-list
    position: absolute
    left: 0
    bottom: -5px
    transform: translateY(100%)
    width: 100%
    max-height: 130px
    padding: 0
    margin: 0
    background: #FFFFFF
    border: 1px solid #E1E1F0
    border-radius: 0
    overflow-y: auto
    z-index: 10

  .unilogin-component-suggestions-item-btn:hover,
  .unilogin-component-suggestions-item-btn:focus
    background: #fbfbfd

  .unilogin-component-suggestions-item + .unilogin-component-suggestions-item
    border-top: 1px solid #E1E1F0

  .unilogin-component-suggestions-item-btn-text
    display: none

  .unilogin-component-suggestions-ens-name,
  .unilogin-component-suggestions-hint
    padding-top: 6px
    color: #31405E

  .unilogin-component-single-suggestion-hint
    display: none

  .unilogin-component-single-suggestion-btn
    color: #2EC9F5

  .unilogin-component-single-suggestion-btn:focus,
  .unilogin-component-single-suggestion-btn:active
    outline: 0
    border: none

  .unilogin-component-single-suggestion-btn:hover
    background: #fbfbfd

  .hint
    position: absolute
    left: 0
    bottom: -1px
    transform: translateY(100%)
    width: 100%
    max-height: 130px
    overflow-y: auto
    z-index: 10
