.chart-section
  padding: 50px 50px 100px
  margin-bottom: 10px

.chart-section-row
  display: flex

.chart-section-block
  width: 50%

.chart-section-title
  margin-bottom: 8px
  font-weight: 700
  font-size: 13px
  line-height: 21px
  color: #C1C6D3

.chart-section-amount
  font-weight: 600
  font-size: 20px
  line-height: 32px
  color: #3D3D41

.chart-section-text
  margin-top: 6px
  opacity: 0.75
  font-size: 12px
  color: #3D3D41

.chart-row
  display: flex
  align-items: center
  margin-top: 15px

.chart
  margin-right: 70px

.chart-legend
  position: relative
  padding-left: 30px
  font-weight: 600
  font-size: 13px
  text-transform: uppercase
  color: #C1C6D3
  
.chart-legend::before
  content: ''
  position: absolute
  top: 50%
  left: 0
  width: 21px
  height: 3px
  transform: translateY(-50%)
  border-radius: 10px

.chart-legend.wbtc::before  
  background: #706AE1
.chart-legend.eth::before  
  background: #22D6DE
.chart-legend.mkr::before  
  background: #6B97FF
.chart-legend.else::before  
  background: #281993
  
.chart-legend + .chart-legend
  margin-top: 10px

.buy-assets-block
  margin-top: 60px
  text-align: center
  
.buy-assets-text
  max-width: 262px
  margin: 20px auto 0
  opacity: 0.75
  font-size: 12px
  color: #3D3D41
  text-align: center