.input-copy-wrapper
  position: relative

.input-copy
  padding-right: 116px

.input-copy-btn
  position: absolute
  top: 0
  right: 0
  width: 99px
  height: 45px
  font-weight: 500
  font-size: 14px
  color: #FFFFFF
  background: #0FB989
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

.input-copy-btn:hover
  background: darken(#0FB989, 2%)
.input-copy-btn:active
  background: darken(#0FB989, 5%)