.input-copy-wrapper
  position: relative

.input-copy
  padding-right: 116px

  +media(s)
    padding-right: 112px

.input-copy-btn
  position: absolute
  top: 0
  right: 0
  width: 99px
  height: 45px
  padding: 0 30px
  font-weight: 500
  font-size: 14px
  color: #FFFFFF
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px