.transfers-section
  min-height: 280px
  padding: 20px 0 5px

.transfers-section-title
  margin: 0 0 15px 40px
  font-weight: 600
  font-size: 14px
  color: #3D3D41

.transfers-section-text
  height: 100%
  margin-top: 95px
  opacity: 0.75
  font-size: 12px
  color: #3D3D41
  text-align: center

.table 
  width: 100%
  
.tr
  border-bottom: 1px solid #F2F2FA
  
.tr:first-child,
.tr:last-child
  border-bottom: none

.th
  font-weight: 600
  font-size: 13px
  color: #B1B5BF
  text-align: left

.th:first-child
  padding-left: 74px

.td:first-child
  padding-left: 74px

.td
  padding: 20px 0 12px
  font-size: 14px
  color: #282828
  vertical-align: middle

.currency-row
  display: flex
  align-items: center

.currency-icon
  width: 30px
  height: 30px
  margin-right: 9px

.currency-name
  margin-bottom: 2px
  text-transform: capitalize
  font-size: 14px
  color: #282828

.currency-shortcut
  text-transform: uppercase
  font-weight: 500
  font-size: 12px
  color: #B1B5BF

.amount-usd
  margin-bottom: 2px
  font-size: 14px
  color: #F62D5C

.amount-crypto
  font-size: 14px
  color: #B1B5BF
  text-transform: uppercase

.status
  width: 79px
  padding: 3px 0
  font-weight: 600
  font-size: 12px
  line-height: 19px
  text-align: center
  text-transform: capitalize
  border-radius: 4px

.status.completed
  background: #f3fff7
  border: 1px solid rgba(53, 187, 126, 45)
  color: #35BB7E

.status.pending
  background: #f1f1fb
  border: 1px solid rgba(111, 105, 224, 30)
  color: #6361D7