.modal-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0.75
  background: #FFFFFF

.modal
  position: absolute
  top: 50%
  left: 50%
  width: 430px
  padding: 40.5px 30px
  transform: translate(-50%, -50%)
  color: #ffffff
  background-image: linear-gradient(180deg, #0C0E57 0%, #14052C 100%)
  border-radius: 6px

.modal-title
  padding-right: 25px
  margin-bottom: 42px
  font-weight: 600
  font-size: 18px
  color: #FFFFFF

.modal-close-btn
  position: absolute
  top: 39px
  right: 30px
  width: 20px
  height: 20px
  background: url('../assets/close.svg') center no-repeat

.transfer-modal-address
  margin-bottom: 30px

.request-modal-amount
  margin-bottom: 30px

.qr-code
  width: 81px
  height: 81px
  margin: 0 auto 33px

.request-modal-description,
.request-modal-address
  margin-bottom: 30px