.sidebar
  width: 70px
  height: 100vh
  padding: 17px
  background-image: linear-gradient(131deg, #0C0E57 1%, #14052C 100%)
  
.sidebar-list
  margin-top: 57px

.sidebar-list-item + .sidebar-list-item
  margin-top: 60px

.sidebar-link
  display: block
  margin: 0 auto
  text-align: center

.sidebar-button:hover
  opacity: 0.8

.sidebar-button:active
  opacity: 0.6

.home-link
  width: 26px
  height: 20px
  background: url('../assets/icons/home.svg') center no-repeat
  background-size: contain

.settings-link
  width: 21px
  height: 21px
  background: url('../assets/icons/settings.svg') center no-repeat
  background-size: contain

.notifications-link
  width: 23px
  height: 23px
  background: url('../assets/icons/bell.svg') center no-repeat
  background-size: contain
