.sidebar
  width: 70px
  height: 100vh
  padding: 17px
  background-image: linear-gradient(131deg, #0C0E57 1%, #14052C 100%)
  
.sidebar-list
  margin-top: 57px

.sidebar-list-item + .sidebar-list-item
  margin-top: 60px

.sidebar-button
  display: block
  margin: 0 auto
  text-align: center

.sidebar-button:hover
  opacity: 0.8

.sidebar-button:active
  opacity: 0.6
  
.requse-funds-button
  width: 28px
  height: 23px
  background: url('../assets/request-funds.svg') center no-repeat
  background-size: contain

.transfer-funds-button
  width: 23px
  height: 24px
  background: url('../assets/transfer-funds.svg') center no-repeat
  background-size: contain

.send-invitation-button
  width: 25px
  height: 21px
  background: url('../assets/send.svg') center no-repeat
  background-size: contain