.suggestions-list
  padding: 10.5px 0
  margin-top: 8px
  background: #fff
  border-radius: 5px

.suggestions-item-btn
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 7.5px 20.5px

.suggestions-item-btn:hover,
.suggestions-item-btn:focus
  background: #F2F3F6
  outline: none

.suggestions-item-btn-text
  font-weight: 600
  font-size: 13px
  color: #0FB989
  text-transform: uppercase

.suggestions-item-text
  font-size: 14px
  color: #3D3D41
  