.idea
yarn-error.log
/.vscode
/node_modules
/universal-login-contracts/build/
/universal-login-contracts/node_modules
/universal-login-contracts/yarn-error.log
/universal-login-sdk/dist/
/universal-login-sdk/node_modules/
/universal-login-sdk/yarn-error.log
/universal-login-relayer/.env
/universal-login-relayer/dist/
/universal-login-relayer/build/
/universal-login-relayer/node_modules
/universal-login-relayer/yarn-error.log
/universal-login-example/.env
/universal-login-example/dist
/universal-login-example/build
/universal-login-example/.cache
/universal-login-example/node_modules
/universal-login-example/yarn-error.log

sdk/*
universal-login-example/src/views/.DS_Store
universal-login-example/src/.DS_Store
.DS_Store