.DS_Store
.idea
lerna.json
/docs/build/
/node_modules
/universal-login-commons/dist/*
/universal-login-commons/node_modules/*
/universal-login-contracts/build/
/universal-login-contracts/dist/
/universal-login-contracts/node_modules
/universal-login-contracts/yarn-error.log
/universal-login-ops/.env
/universal-login-ops/dist
/universal-login-ops/node_modules
/universal-login-ops/yarn-error.log
/universal-login-relayer/.env
/universal-login-relayer/build/
/universal-login-relayer/dist/
/universal-login-relayer/node_modules
/universal-login-relayer/yarn-error.log
/universal-login-sdk/dist/
/universal-login-sdk/node_modules/
/universal-login-sdk/yarn-error.log
/universal-login-web3/dist/
/universal-login-web3/node_modules/
/universal-login-web3/yarn-error.log
/universal-login-example/dist/
/universal-login-example/node_modules/
/universal-login-example/yarn-error.log
yarn-error.log
