.DS_Store
.idea
/.vscode
/docs/build/
/docs/doctress/
/node_modules
/sdk/*
/universal-login-boilerplate/.cache/*
/universal-login-boilerplate/dist/*
/universal-login-boilerplate/node_modules/*
/universal-login-contracts/build/
/universal-login-contracts/dist/
/universal-login-contracts/node_modules
/universal-login-contracts/yarn-error.log
/universal-login-example/.cache
/universal-login-example/.env
/universal-login-example/build
/universal-login-example/dist
/universal-login-example/node_modules
/universal-login-example/src/.DS_Store
/universal-login-example/src/views/.DS_Store
/universal-login-example/yarn-error.log
/universal-login-relayer/.env
/universal-login-relayer/build/
/universal-login-relayer/dist/
/universal-login-relayer/node_modules
/universal-login-relayer/yarn-error.log
/universal-login-sdk/dist/
/universal-login-sdk/node_modules/
/universal-login-sdk/yarn-error.log
yarn-error.log
