.unilogin-theme-default.unilogin-component-assets-item
  .unilogin-component-assets-name
    color: #FFFFFF

  .unilogin-component-assets-price
    color: #A4A8B4

  .unilogin-component-assets-balance
    color: #FFFFFF

  .unilogin-component-assets-price-tilde
    color: #A4A8B4
