@import '../../helpers/breakpoints'

.unilogin-theme-default.unilogin-component-assets-wrapper
  .unilogin-component-assets-title
    color: #FFFFFF

    +media(s)
      color: #B9C3F8

  .unilogin-component-assets-list
    background: #262053

  .unilogin-component-assets-item + .unilogin-component-assets-item
    border-color: #55507A