.unilogin-theme-default.universal-login-disconnect-account
  @media only screen and (max-width: 600px)
    display: flex
    flex-direction: column
    flex: 1

  .disconnect-account
    @media only screen and (max-width: 600px)
      display: flex
      flex-direction: column
      flex: 1
      padding: 100px 15px 15px

  .disconnect-account::before
    @media only screen and (max-width: 600px)
      top: 25px

  .disconnect-account-form
    min-width: 370px

    @media only screen and (max-width: 600px)
      margin-bottom: 10px

    @media only screen and (max-width: 400px)
      min-width: 100%

  .disconnect-account-buttons
    margin-top: auto
