.unilogin-theme-default.unilogin-component-btn-primary.funds-topup
    background: #0FB989
    color: #FFFFFF
    margin-right: 3.5rem

    &::before
        width: 17px
        height: 17px
        background:url('./../../../assets/icons/plus.svg') center no-repeat
        background-size: contain


.unilogin-theme-default.unilogin-component-btn-primary.funds-send
    border: 1px solid #0FB989
    color: #0FB989
    background: transparent

    &::before
        height: 18px
        width: 15px
        background: url('./../../../assets/icons/forward-arrow.svg') center no-repeat
        background-size: contain
