.unilogin-theme-default .udashboard-content
  .universal-login-emojis
    flex: 1

  @media only screen and (max-width: 500px)
    .universal-login-emojis

      .approve-device
        padding: 20px 0 0

  #emojis
    padding: 0 15px
