body {
  margin: 0;
  padding: 0;
  background-color: red;
}

iframe {
  width: 100vw;
  height: 100vh;
  position: fixed;
  border: none;
  background: none transparent;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
