.device
  position: relative

.device-btn
  position: absolute
  top: 50%
  left: -67px
  transform: translateY(-50%)
  width: 35px
  height: 35px
  background: url('../img/minus.svg') no-repeat center
  background-size: contain

.device + .device
  margin-top: 30px

.device-name
  font-weight: 700

.device-status
  font-style: italic
  font-size: 17px

.advice-text
  margin-bottom: 25px

.setting 
  margin-bottom: 25px

.setting-dropdown-btn
  margin-top: 5px

.click-cost
  margin-top: 5px
  font-size: 14px
  text-align: center