*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html
  overflow-x: hidden

body
  overflow-x: hidden
  font-family: 'Poppins', sans-serif
  background: #fafbfd

button
  font-family: 'Poppins', sans-serif
  
input
  border: none

textarea:focus,
input:focus
  border: 1px solid #0FB989
  outline: none
  
.container
  max-width: 1230px
  width: 100%
  padding: 15px
  margin: 0 auto
  
.row
  display: flex

.justify-content-center
  justify-content: center

.align-items-center
  align-items: center
  
.box
  background: #FFFFFF
  box-shadow: 0 2px 28px 0 rgba(40,42,42,0.27);

.link
  display: flex
  justify-content: center
  align-items: center