.choose-connection-content
  padding: 30px 0 25px

.choose-connection-row-wrapper
  padding-left: 25px
  overflow-x: auto

.choose-connection-row
  display: flex
  min-width: 740px
  margin-bottom: 50px
  padding-right: 25px

.connection-method
  height: 440px
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 50%
  padding: 33px 20px 25px
  background: #fff
  text-align: center

.connection-method + .connection-method
  margin-left: 30px

.connection-method-img
  display: block
  width: 87px
  height: 98px
  margin: 0 auto 40px

.connection-method-title
  font-size: 20px
  color: #31405E
  text-align: center
  margin-bottom: 20px

.connection-method-text
  margin-bottom: 25px
  font-size: 16px
  color: #31405E
  text-align: center
  line-height: 24px

.connection-method-link
  display: flex
  align-items: center
  justify-content: center
  height: 96px
  padding: 0 10px
  background: #FFFFFF
  border: 1px solid #E1E1F0
  font-size: 16px
  color: #31405E
  line-height: 24px

.connection-method-link img
  margin-right: 15px

.choose-connection-btn-wrapper
  padding: 0 25px
