.connect-emoji-content
  padding: 25px
  text-align: center

.connect-emoji-section
  max-width: 500px
  margin: 0 auto

.connect-emoji-img
  display: block
  width: 103px
  height: 115px
  margin: 0 auto 40px

.connect-emoji-text
  margin-bottom: 25px

.connect-emoji-btn
  margin-top: 35px

.universal-login-emoji ul
  display: flex
  list-style: none
  flex-wrap: wrap
  align-items: center
  justify-content: center


.jarvis-emojis
  .emojis-fakes-list
    margin-top: 35px
    padding-top: 35px
    border-top: 1px solid #E1E1F0

  .emojis-form-reject
    max-width: 500px
    width: 100%
    height: 50px
    margin-top: 35px
    background: #FFFFFF
    border: 1px solid #C9C9D7
    font-size: 16px
    color: #AFB2BD
    letter-spacing: -0.09px
    text-align: center

