.universal-login-emoji ul
  display: flex
  list-style: none
  flex-wrap: wrap
  align-items: center
  justify-content: center


.universal-login-emojis
  .jarvis-styles

    .approve-device
      padding: 130px 0 0

    .connection-device-status
      margin: 0 auto
      color: #000
      padding: 150px 0
      text-align: center

    .approve-device-form
      padding-bottom: 40px

    .approve-device-title
      font-weight: 700
      margin: 0 0 20px
      text-align: center
      color: #31405E

    .approve-device-text
      margin: 0 auto 35px
      line-height: 20px
      color: #657086
      text-align: center

    .emoji-item
      background: #ffffff
      border-radius: 2px
      border: 1px solid #C7C7D4
      border-radius: 2px

    .emoji-category-nature::before
      background: url('../assets/icons/nature.svg') center no-repeat
      background-size: contain

    .emoji-category-food::before
      background: url('../assets/icons/food.svg') center no-repeat
      background-size: contain

    .emoji-category-activities::before
      background: url('../assets/icons/activities.svg') center no-repeat
      background-size: contain

    .emoji-category-shapes::before
      background: url('../assets/icons/shapes.svg') center no-repeat
      background-size: contain

    .emoji-category-emojis::before
      background: url('../assets/icons/emojis.svg') center no-repeat
      background-size: contain

    .emoji-category-item.active
      border-color: #0FB989

      +media(s, 168px)
        border-color: #2C3E62

    .emoji-keyboard-prev
      margin-right: 10px
      transform: rotate(0)

    .emoji-keyboard-next
      margin-left: 10px
      transform: rotate(180deg)

    .emoji-keyboard-arrow-button
      background: transparent url('../assets/icons/angle-left-dark.svg') center no-repeat
      border: 1px solid #969fb1

    .emoji-keyboard-button:focus
      outline: none
      border: 1px solid rgba(154, 156, 167, 0.3)

    .emojis-form-reject
      max-width: 500px
      width: 100%
      height: 50px
      margin-top: 75px
      background: #FFFFFF
      border: 1px solid #C9C9D7
      font-size: 16px
      color: #AFB2BD
      letter-spacing: -0.09px
      text-align: center

    .emoji-form-loader
      padding: 140px 0

    .emojis-form-title
      margin: 0 0 55px
      text-align: center
      color: #31405E

    .emojis-fakes-list
      max-width: 808px
      margin: 80px auto 0
      padding-top: 35px
      border-top: 1px solid #eaedfd

    .emoji-keyboard
      padding: 0 30px

    .connect-emoji
      padding: 0
      background: #FAFBFD

    .connect-emoji-content
      padding: 25px

    .connect-emoji-title
      padding: 20px 35px
      margin: 0
      background: #fff
      font-weight: 700
      font-size: 20px
      line-height: 26px
      color: #31405E
      text-align: left

    .connect-emoji-text
      position: relative
      max-width: 425px
      padding-top: 168px
      color: #A4A8B4
      padding-top: 168px
      margin-bottom: 25px

    .connect-emoji-text::before
      content: ''
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 141px
      height: 144px
      background: url('./../assets/illustrations/vault.png') center no-repeat
      background-size: contain

    .connect-emoji-btn
      max-width: 500px
      width: 100%
      height: 50px
      background: #FFFFFF
      border: 1px solid #C9C9D7
      font-size: 16px
      line-height: 21px
      color: #AFB2BD

    .connect-emoji-btn
      margin: 150px auto 0

    .correct-input-footer
      margin-top: 80px

  .emojis-keyboard-batch
    .emoji-keyboard-button i
      color: #2C3E62 !important

  .emojis-placeholders-list
    .emoji-item-empty
      border: 1px solid #2EC9F5

  .correct-input-title
    font-weight: 700
    font-size: 20px
    line-height: 24px
    text-align: center
    color: #31405E


