.connect-emoji-content
  padding: 25px

.connect-emoji-section
  max-width: 500px
  margin: 0 auto

.connect-emoji-img
  display: block
  width: 103px
  height: 115px
  margin: 0 auto 40px

.connect-emoji-text
  margin-bottom: 25px

.connect-emoji-btn
  margin-top: 180px
