.connect-passphrase-content
  padding: 40px 25px 25px

.connect-passphrase-section
  max-width: 500px
  margin: 0 auto
  text-align: left

.connect-passphrase-text
  margin-bottom: 25px

.connect-passphrase-btn
  margin-top: 260px