.create-account-box
  max-width: 770px
  width: 100%

.create-account-content
  padding: 35px 25px 25px
  background: #fafafa

.create-account-img
  width: 103px
  height: 115px
  display: block
  margin: 0 auto 15px

.create-accoutn-selector-block
  max-width: 460px
  margin: 0 auto 60px

.create-account-info-text
  margin-bottom: 60px

.create-account-cancel
  max-width: 460px
  display: block
  margin: 0 auto

