.dashboard
  position: relative
  min-height: 100vh

  +media(s, 168px)
    padding-bottom: 60px

.dashboard-main
  position: relative
  width: 100%

.dashboard-content
  display: flex
  align-items: center
  justify-content: center
  min-height: calc(100vh - 70px)
  padding: 35px 30px 100px

  +media(s, 168px)
    padding: 60px 15px 0

.dashboard-content-box
  max-width: 970px
  min-height: 720px
  width: 100%
  background: #FFFFFF
  box-shadow: 0px 3px 17px rgba(79, 55, 168, 0.088853)
  z-index: 10

.dashboard-content-subscreen
  +media(s, 168px)
    padding: 0

.home-screen-column
  +media(s, 168px)
    display: flex
    flex-direction: column-reverse
    justify-content: flex-end
    height: calc(100vh - 163px)
    padding: 20px 15px
    background: #fff
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(208,209,217,0.25)
    border-radius: 5px

.dashboard-buttons-row
  +media(s, 168px)
    margin-top: auto

.dashboard-content::after
  content: ''
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: calc(50vh - 35px)
  background: #fafbfd url('./../assets/dashboardBackground.jpg') center no-repeat
  background-size: cover

  +media(s, 168px)
    display: none