.dashboard
  position: relative
  min-height: 100vh

  +media(s, 168px)
    padding-bottom: 60px

.dashboard-main
  position: relative
  width: 100%

.dashboard-content
  display: flex
  align-items: center
  justify-content: center
  min-height: 370px
  height: calc(50vh - 35px)
  padding: 30px 30px 100px

  +media(s, 168px)
    padding: 60px 15px 0

.dashboard-content-subscreen
  +media(s, 168px)
    padding: 0

.home-screen-column
  +media(s, 168px)
    display: flex
    flex-direction: column-reverse
    justify-content: flex-end
    height: calc(100vh - 163px)
    padding: 20px 15px
    background: #fff
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(208,209,217,0.25)
    border-radius: 5px

.dashboard-buttons-row
  +media(s, 168px)
    margin-top: auto

.my-assets-section
  height: calc(50vh - 35px)
  min-height: 370px
  background: #fafbfd url('./../assets/dashboardBackground.jpg') bottom no-repeat
  background-size: cover

  +media(s, 168px)
    display: none