.universal-login-funds
  .jarvis-styles

    .funds
      padding: 0 10px 15px

      +media(s, 168px)
        padding-top: 10px

    .ens-name-row
      display: none

    .balance-text
      margin: 0 0 30px
      color: #31405E

    .balance-amount
      color: #31405E

    .funds-topup
      background-color: #2EC9F5
      color: #fff

    .funds-send
      color: #2EC9F5
      border-color: #2EC9F5

    .funds-send::before
      background: url('./../assets/icons/arrow-send.svg') center no-repeat
      background-size: contain

    .assets-title
      margin: 0 0 8px
      color: #31405E

    .assets-list
      background: #FFFFFF
      border: 1px solid #C7C7D4
      border-radius: 2px

    .assets-name,
    .assets-balance
      margin: 0 0 5px
      font-size: 14px
      line-height: 17px
      color: #31405E

    .assets-price
      font-size: 12px
      line-height: 14px
      color: #31405E

    .universal-login-assets-item + .universal-login-assets-item
      border-top: 1px solid #e3e3e9

    .assets-item-right
      text-align: right

    .balance-spinner-wrapper
      height: 125px

    .balance-spinner
      .spinner-dot
        background-image: linear-gradient(270deg, #0FB1EF -2.26%, #55FD77 100%)

