.universal-login-funds
  .jarvis-funds

    .funds
      padding: 115px 0 165px

    .ens-name-row
      display: none

    .universal-login-balance-text
      margin: 0 0 30px
      color: #31405E

    .universal-login-balance-amount
      color: #31405E

    .funds-topup
      background-color: #2EC9F5
      color: #fff

    .funds-send
      color: #2EC9F5
      border-color: #2EC9F5

    .funds-send::before
      background: url('./../assets/icons/arrow-send.svg') center no-repeat
      background-size: contain

    .assets-title
      margin: 0 0 8px
      color: #31405E

    .assets-list
      background: #FFFFFF
      border: 1px solid #C7C7D4
      border-radius: 2px

    .assets-name,
    .assets-balance
      margin: 0 0 5px
      font-size: 14px
      line-height: 17px
      color: #31405E

    .assets-price
      font-size: 12px
      line-height: 14px
      color: #31405E

    .universal-login-assets-item + .universal-login-assets-item
      border-top: 1px solid #e3e3e9

