.confirmation-box {
  min-width: 500px;
  min-height: 300px;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

confirmation-title {
  font-size: 20px;
  color: #31405E;
  font-weight: 500;
}

confirmation-message {
  height: 100%;
}

.confirmation-button {
  color: #FFFFFF;
  border: none;
  width: 40%;;
  height: 45px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.confirmation-button.primary {
  background: #0FB989;
}

.confirmation-button.secondary {
  background: rgba(185, 195, 248, 0.2)
}

.confirmation-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}