body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.unilogin-logo-container {
  position: absolute;
  width: 204px;
  height: 52.35px;
  left: 5%;
  top: 5%;
  display: inline-block;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.unilogin-logo-container img {
  height: 52.35px;
  float: left;
}

.info-box {
  position: absolute;
  height: auto;
  width: auto;
  top: 30%;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.title {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 129%;
  text-align: center;
  color: #0F0C4A;
}

.info-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 164%;
  color: #7D7C9C;
  padding-top: 5%;
}

.small-turquise {
  position: absolute;
  width: 76.11px;
  height: 59.04px;
  background: #41FCFF;
  opacity: 0.45;
  filter: blur(50px);
  transform: rotate(-25.33deg);
  top: 15%;
}

.go-back-button {
  position: absolute;
  width: 368px;
  height: 56px;
  bottom: 20%;
  background: linear-gradient(97.27deg, #1F46C4 0%, #0E1F98 100%);
  box-shadow: 0px 16px 32px rgba(0, 61, 181, 0.2);
  border-radius: 8px;
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
  .turquise-mist{
    position: absolute;
    width: 580px;
    height: 477px;
    top: -106.86px;
    margin-left: 40%;

    background: #41FCFF;
    opacity: 0.15;
    filter: blur(178px);
    transform: rotate(-25.33deg);
  }

  .dark-blue-mist{
    position: absolute;
    width: 547px;
    height: 432px;
    left: 80%;
    top: 50%;

    background: #4C7AED;
    opacity: 0.45;
    filter: blur(178px);
  }

  .dialog-box{
    position: absolute;
    width: 80%;
    height: 90%;
    max-height: 668px;
    /* left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    margin-left: 10%;
    margin-right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    box-shadow: 0px 24px 104px rgba(0, 131, 188, 0.1);
    border-radius: 16px;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .dialog-box{
    position: absolute;
    width: 100%;
    height: 100%;

    background: #FFFFFF;
    box-shadow: 0px 24px 104px rgba(0, 131, 188, 0.1);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
