.modal-wrapper {
    font-family: 'Lato', sans-serif;
}

#universal-login-web3-picker {
    font-family: 'Poppins', sans-serif;
}

#universal-login-modal-root {
    font-family: 'Poppins', sans-serif;
}
