
  
.accordion-content
  display: none

.accordion-btn.expanded + .accordion-content
  display: block
  padding: 35px 0 0 71px

.accordion-btn-ico
  width: 40px
  height: 40px
  margin-right: 32px

.accordion-btn
  display: flex
  align-items: center

.accordion-title
  margin-bottom: 5px
  text-align: left
  font-size: 20px
  color: #CA0019