.universal-login-default .accordion {
  width: 100%;
  padding: 20px;
  background: #fafbfd;
}

.universal-login-default .accordion + .accordion {
  margin-top: 20px;
}

.universal-login-default .accordion-title {
  margin: 0 0 6px;
  font-size: 16px;
  color: #31405E;
  text-align: left;
}

.universal-login-default .accordion-subtitle {
  margin: 0;
  font-size: 14px;
  color: #31405E;
  text-align: left;
  opacity: 0.7;
}

.universal-login-default .accordion-btn {
  position: relative;
  width: 100%;
  padding-right: 25px;
  background: none;
  border: none;
}

.universal-login-default .accordion-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 12px;
  height: 9px;
  background: url('./../assets/icons/angle.svg') center no-repeat;
  transition: transform 0.3s linear
}

.universal-login-default .accordion-btn.expanded::after {
  transform: translateY(-50%) rotate(180deg);
}

.universal-login-default .accordion-content {
  margin-top: 40px;
}

.universal-login-default .accordion-content-enter {
  max-height: 0;
  transition: all 300ms linear;
  overflow-y: hidden;
}

.universal-login-default .accordion-content-enter-active {
  max-height: 500px;
}

.universal-login-default .accordion-content-exit {
  max-height: 500px;
  transition: all 0.3s linear;
  overflow-y: hidden;
}

.universal-login-default .accordion-content-exit-active {
  max-height: 0;
}

.universal-login-default .accordion-content-text {
  opacity: 0.7;
  font-size: 14px;
  color: #31405E;
}
