.approve-device
  max-width: 808px
  margin: 0 auto
  padding: 60px 0

.approve-device-title
  margin: 0 0 11px
  font-weight: 600
  font-size: 24px
  color: #FFFFFF
  text-align: center

.approve-device-text
  max-width: 400px
  margin: 0 auto 50px
  text-align: center
  opacity: 0.75
  font-size: 16px
  color: #FFFFFF

.approve-device .connection-device-status
  color: #FFFFFF

.connect-buttons-row
  display: flex
  align-items: center

.connect-cancel-btn,
.connect-approve-btn
  width: 170px
  height: 40px
  border-radius: 3px
  font-weight: 500
  font-size: 14px
  line-height: 17px
  text-align: center
  color: #FFFFFF
  border: none

.connect-cancel-btn
  background: rgba(185, 195, 248, 0.2)

.connect-approve-btn
  margin-left: 12px
  background: #0FB989

.correct-input-img
  display: block
  width: 40px
  height: 40px
  margin: 0 auto 12px

.correct-input-title
  margin: 0 0 54px
  font-weight: 600
  font-size: 20px
  line-height: 30px
  text-align: center
  color: #FFFFFF

.correct-input-footer
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-top: 285px

@media only screen and (max-width: 768px)
  .approve-device
    padding: 50px 0 0px

  .approve-device-text
    margin: 0 0 35px

