@import helpers/breakpoints

.unilogin-component-assets-item
  width: 100%

  .assets-item-row
    display: flex
    justify-content: space-between
    padding: 23px
    width: 100%

    +media(s)
      padding: 8px

  .assets-item-left
    display: flex

    .assets-price
      text-align: left

  .assets-item-right
    max-height: 36px

    .assets-price
      text-align: right

  .assets-img-wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 30px
    margin-right: 16px

  .currency-accordion-img
    height: 30px

  .assets-img
    max-width: 100%

  .assets-name
    margin: 0 0 5px
    font-size: 14px
    line-height: 17px
    text-align: left
    text-transform: capitalize

  .assets-price
    margin: 0
    font-size: 12px
    line-height: 14px
    color: #7D7C9C

    +media(s)
      font-size: 14px

    +media(s)
      font-size: 14px

  .assets-balance
    margin: 0 0 5px
    font-weight: bold
    font-size: 14px
    line-height: 17px
    text-align: right

  .assets-balance-converted
    display: flex
    justify-content: flex-end

  .assets-price-tilde
    margin: 0px 3px 0px
    font-weight: bold
    font-size: 12px

  .spinner
    height: 2rem
    width: 2rem
