@import helpers/breakpoints

.universal-login-assets
  .assets-title
    margin: 0 auto 8px
    font-size: 16px
    text-align: left
    line-height: normal

    +media(s)
      font-weight: 500
      font-size: 12px
      line-height: 18px

    +media(s)
      font-weight: 500
      font-size: 12px
      line-height: 18px

  .assets-list
    width: 100%
    margin: 0
    padding: 10px 23px
    background: #fff
    border-radius: 6px

    +media(s)
      padding: 0
      border-radius: 3px

  .universal-login-assets-item + .universal-login-assets-item
    border-top: 1px solid
