@import helpers/breakpoints

.universal-login-assets-item
  width: 100%

  .assets-item
    display: flex
    justify-content: space-between
    padding: 15px 0
    width: 100%

    +media(s)
      padding: 8px

  .assets-item-left
    display: flex

    .assets-price
      text-align: left

  .assets-item-right
    .assets-price
      text-align: right

  .assets-img-wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 30px
    margin-right: 10px

  .currency-accordion-img
    height: 30px

  .assets-img
    max-width: 100%

  .assets-name
    margin: 0
    font-size: 14px
    text-transform: capitalize
    text-align: left
    line-height: normal

  .assets-price
    margin: 0
    font-size: 12px
    text-align: left
    line-height: normal

    +media(s)
      font-size: 14px

    +media(s)
      font-size: 14px

  .assets-balance
    margin: 0
    font-size: 14px
    line-height: normal
