.universal-login-assets

  .assets-title
    margin: 0 0 8px
    font-size: 16px

  .assets-list
    width: 100%
    margin: 0
    padding: 10px 23px
    background: #fff
    border-radius: 6px

  .universal-login-assets-item + .universal-login-assets-item
    border-top: 1px solid