.universal-login-assets
  .universal-login-default

    .assets-title
      color: #FFFFFF

    .assets-list
      background: #262053

    .universal-login-assets-item + .universal-login-assets-item
      border-color: #55507A