.universal-login-backup
  .universal-login-default

    .backup-title
      color: #ffffff

    .backup-subtitle
      color: #ffffff

    .backup-btn-primary
      background: #0FB989
      color: #FFFFFF
      border: none

    .backup-btn-secondary
      border: 1px solid #0FB989
      color: #0FB989
      background: none

    .backup-loader-label
      color: #FFFFFF

    .backup-codes-item
      background: #262053
      box-shadow: 0 6px 10px 0 rgba(0,0,0,0.19)

    .backup-code-contract
      color: #FFFFFF

    .backup-code
      color: #FFFFFF

    .backup-create-btn,
    .backup-print-btn
      color: #0FB989