.universal-login-backup

  .backup
    position: relative
    padding-top: 110px
    min-height: 635px
    display: flex
    flex-direction: column
    justify-content: space-between

  .backup::before
    content: ''
    position: absolute
    top: 20px
    left: 50%
    width: 34px
    height: 56px
    transform: translateX(-50%)
    background: url('./../assets/icons/backup.svg') center no-repeat
    background-size: contain

  .backup-title
    margin: 0 0 16px
    text-align: center
    font-size: 20px
    font-weight: 600

  .backup-subtitle
    text-align: center
    opacity: 0.8
    font-size: 16px

  .backup-btn
    width: 235px
    height: 45px
    display: block
    font-size: 14px
    border-radius: 3px
    letter-spacing: 0
    font-weight: 500

  .backup-loader-wrapper
    max-width: 300px
    margin: 70px auto 0

  .backup-loader-label
    font-size: 14px
    margin: 0 auto 20px
    text-align: center

  .backup-loader-info
    font-size: 12px
    margin: 35px auto
    text-align: center

  .backup-codes-list
    margin: 0 auto 160px
    padding: 0
    list-style: none

  .backup-codes-item
    display: flex
    align-items: center
    padding: 15px
    border-radius: 5px

  .backup-codes-item + .backup-codes-item
    margin-top: 13px

  .backup-codes-buttons
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 300px
    margin: 20px 0 15px

  .backup-code-contract
    margin: 0
    font-size: 12px
    text-align: left
    line-height: normal

  .backup-code
    margin: 0
    font-weight: 600
    font-size: 14px
    text-align: left
    line-height: normal

  .backup-create-btn,
  .backup-print-btn
    position: relative
    padding: 0 0 0 25px
    font-weight: 500
    font-size: 14px
    border: none
    background: none

  .backup-create-btn::before,
  .backup-print-btn::before
    content: ''
    position: absolute
    top: 4px
    left: 0
    width: 15px
    height: 15px

  .backup-create-btn::before
    background: url('./../assets/icons/plus-sign.svg') center no-repeat
    background-size: contain

  .backup-print-btn::before
    background: url('./../assets/icons/printer.svg') center no-repeat
    background-size: contain
