@import helpers/breakpoints

.universal-login-balance

  .balance
    margin-top: 40px

  .balance-text
    margin: 0 auto 22px
    font-weight: 600
    font-size: 20px
    text-align: center
    line-height: normal

    +media(s)
      font-size: 16px
      line-height: 24px
      margin-bottom: 8px

  .balance-amount
    margin: 0 auto
    font-weight: 600
    font-size: 44px
    text-align: center
    line-height: normal

    +media(s)
      font-size: 32px
      line-height: 48px

    +media(s)
      font-size: 32px
      line-height: 48px

  .balance-spinner-wrapper
    height: 117px
    display: flex
    align-items: center
    justify-content: center

