@import helpers/breakpoints

.universal-login-balance

  .universal-login-balance-text
    margin: 0 auto 22px
    font-weight: 600
    font-size: 20px
    text-align: center
    line-height: normal

    +media(s)
      font-size: 16px
      line-height: 24px
      margin-bottom: 8px

  .universal-login-balance-amount
    margin: 0 auto
    font-weight: 600
    font-size: 44px
    text-align: center
    line-height: normal

    +media(s)
      font-size: 32px
      line-height: 48px

    +media(s)
      font-size: 32px
      line-height: 48px

