.universal-login-balance

  .universal-login-balance-text
    margin: 0 0 22px
    font-weight: 600
    font-size: 20px
    text-align: center


  .universal-login-balance-amount
    margin: 0
    font-weight: 600
    font-size: 44px
    text-align: center

