.btn-link
  border: 1px solid rgba(25, 57, 181, 0.2)
  background: transparent
  border-radius: .4rem
  padding: 10px 24px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer

.btn-link-text
  font-size: 14px
  font-weight: 300
  line-height: 17px
  color: #439DB0

.btn-link-img
  margin-left: .7rem
