.universal-login-passphrase
  .universal-login-default
    .connect-passphrase-title
      color: #fff

    .connect-passphrase-text
      color: #fff
      opacity: 0.75

    .connect-passphrase-input
      background: #362F6A
      border-radius: 6px
      border: none
      color: #FFFFFF

    .connect-passphrase-btn
      background: #0FB989
      color: #fff
      border-radius: 3px
      border: none

    .connect-passphrase-label
      color: #B9C3F8

    .connect-cancel-button
      background: rgba(185, 195, 248, 0.2)
      border-radius: 3px
      color: #FFFFFF
      border: none
      margin: 40px auto
