.universal-login-devices
  .universal-login-default

    .devices-message
      background: #262053
      border-color: #696a9e

    .devices-message-title
      color: #FFFFFF

    .devices-message-text
      opacity: 0.5
      color: #FFFFFF

    .devices-message-button
      background: #0FB989
      color: #FFFFFF
      border: none

    .connected-devices-item.highlighted
      background: #262053
      border-color: rgba(185,195,248,0.46)
      border-radius: 3px

    .connected-devices-title
      color: #FFFFFF

    .connected-devices-type
      color: #FFFFFF

    .connected-devices-details
      color: #8784a1

    .connected-devices-active
      color: #0FB989

    .connected-devices-cancel
      color: #FFFFFF
      background: none
      border: none

    .connected-devices-delete
      background: #FC4B61
      border-radius: 0 3px 3px 0
      color: #FFFFFF
      border: none
