.universal-login-devices

  .devices
    position: relative
    min-height: 635px
    padding: 45px 0 55px

  .devices-inner
    max-width: 770px
    margin: 0 auto

  .devices-message
    position: relative
    padding: 30px 35px 25px 70px
    margin-bottom: 40px
    border: 1px solid
    border-radius: 3px

  .devices-message::before
    content: ''
    position: absolute
    top: 32px
    left: 25px
    width: 28px
    height: 32px
    background: url('../assets/ucomponent/new-device.svg') center no-repeat

  .devices-message-row
    display: flex
    justify-content: space-between
    align-items: center

  .devices-message-desription
    max-width: 430px
    margin-right: 15px

  .devices-message-title
    margin: 0 0 9px
    font-weight: 600
    font-size: 14px

  .devices-message-text
    margin: 0
    font-size: 12px
    letter-spacing: 0

  .devices-message-button
    width: 165px
    height: 45px
    border-radius: 3px
    font-weight: 500
    font-size: 14px
    text-align: center

  .connected-devices-header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 50px

  .connected-devices-title
    margin: 0
    font-weight: 600
    font-size: 20px

  .devices-confirmation-wrapper
    display: flex
    align-items: center
    justify-content: end

  .devices-confirmation-text
    font-weight: 300
    font-size: 12px
    margin-right: 10px

  .devices-confirmation-input-wrapper
    position: relative
    margin-right: 10px
    border: 1px solid

  .devices-confirmation-input
    width: 60px
    height: 45px
    padding-right: 20px
    border-radius: 3px
    font-weight: 500
    font-size: 14px
    text-align: center
    border: none

  .devices-amount-buttons
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 20px
    display: flex
    flex-direction: column
    border-left: 1px solid

  .devices-amount-increase-btn,
  .devices-amount-decrease-btn
    position: relative
    width: 100%
    height: 50%
    border: none
    background: none

  .devices-amount-increase-btn:active,
  .devices-amount-decrease-btn:active
    opacity: 0.5

  .devices-amount-decrease-btn
    border-top: 1px solid

  .devices-amount-increase-btn::before,
  .devices-amount-decrease-btn::before
    content: ''
    position: absolute
    top: 9px
    left: 50%
    transform: translate(-50%, 0)
    width: 0
    height: 0

  .devices-amount-increase-btn::before
    border-left: 4px solid transparent
    border-right: 4px solid transparent
    border-bottom: 4px solid #000

  .devices-amount-decrease-btn::before
    border-left: 4px solid transparent
    border-right: 4px solid transparent
    border-top: 4px solid #000

  .devices-confirmation-edit-button, .devices-confirmation-save-button
    width: 90px
    height: 45px
    border-radius: 3px
    font-weight: 500
    font-size: 14px
    text-align: center

  .connected-devices-list
    list-style: none

  .connected-devices-item
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 80px
    padding-left: 94px

  .connected-devices-item::before
    content: ''
    position: absolute
    top: 50%
    left: 8px
    width: 70px
    height: 70px
    transform: translateY(-50%)

  .connected-devices-item.laptop::before
    background: url('../assets/ucomponent/laptop.png') center no-repeat
  .connected-devices-item.phone::before
    background: url('../assets/ucomponent/phone.png') center no-repeat
  .connected-devices-item.tablet::before
    background: url('../assets/ucomponent/tablet.png') center no-repeat

  .connected-devices-item + .connected-devices-item
    margin-top: 10px

  .connected-devices-item.highlighted
    border: 1px solid

  .connected-devices-type
    margin: 0
    font-weight: 600
    font-size: 16px
    letter-spacing: 0

  .connected-devices-details
    margin: 0
    font-size: 12px
    letter-spacing: 0

  .connected-devices-active
    font-size: 12px
    letter-spacing: 0

  .connected-devices-trash-btn-wrapper
    position: relative
    width: 20px
    height: 20px

  .connected-devices-trash-btn
    width: 20px
    height: 20px
    background: url('../assets/icons/trash.svg') center no-repeat
    background-size: contain
    border: none
    cursor: pointer

  .connected-devices-buttons
    display: flex
    align-items: center
    height: 100%

  .connected-devices-cancel
    margin-right: 25px
    font-weight: 500
    font-size: 12px
    letter-spacing: 0
    text-align: center
    cursor: pointer

  .connected-devices-delete
    width: 108px
    height: 100%
    font-weight: 500
    font-size: 12px
    letter-spacing: 0
    text-align: center
    cursor: pointer

  .warning-message
    position: absolute
    top: 50%
    left: -10px
    transform: translate(-100%, -50%)
    margin: 0
    width: 255px
    padding: 10px 10px 10px 40px
    font-size: 12px
    line-height: 18px
    color: #FC4B61
    background: rgba(252,75,97,0.30)
    border-radius: 3px

  .warning-message::before
    content: ''
    position: absolute
    top: 12px
    left: 16px
    width: 15px
    height: 15px
    background: url('../assets/icons/warning.svg') center no-repeat

  .warning-message::after
    content: ''
    position: absolute
    top: 50%
    right: 0
    transform: translate(100%, -50%)
    width: 0
    height: 0
    border-top: 5px solid transparent
    border-bottom: 5px solid transparent
    border-left: 5px solid rgba(252,75,97,0.30)

  .delete-account-link
    position: absolute
    bottom: 35px
    left: 40px
    padding: 0
    font-weight: 600
    font-size: 12px
    border: none
    background: none
    cursor: pointer