@import helpers/breakpoints

.universal-login-disconnect-account

  .disconnect-account
    position: relative
    padding: 115px 0 70px

    +media(s)
      padding: 115px 15px 100px

  .disconnect-account::before
    content: ''
    position: absolute
    top: 50px
    left: 50%
    transform: translateX(-50%)
    width: 50px
    height: 45px
    background: url('./../assets/icons/warning.svg') center no-repeat
    background-size: contain

  .disconnect-account-title
    margin: 0 0 15px
    font-weight: 600
    font-size: 20px
    text-align: center

  .disconnect-account-subtitle
    margin: 0
    font-size: 16px
    text-align: center

  .disconnect-account-form
    max-width: 370px
    margin: 40px auto 95px

    +media(s)
      margin: 40px auto

  .disconnect-account-label
    display: block
    font-weight: 500
    font-size: 12px
    line-height: 18px
    margin: 0 0 5px

  .disconnect-account-input-wrapper + .disconnect-account-input-wrapper
    margin-top: 24px

  .disconnect-account-input
    border: none
    width: 100%
    height: 34px
    padding: 0 12px
    border-radius: 2px
    font-weight: 500
    font-size: 12px

  .disconnect-account-input-error
    border-style: solid
    width: 100%
    height: 34px
    padding: 0 12px
    border-radius: 2px
    font-weight: 500
    font-size: 12px

  .disconnect-account-buttons
    display: flex
    justify-content: center
    align-items: center

  .disconnect-account-cancel,
  .disconnect-account-confirm
    width: 235px
    height: 40px
    border-radius: 3px
    font-weight: 500
    font-size: 14px
    border: none

  .disconnect-account-confirm
    margin-left: 16px

  .disconnect-account-hint
    padding: 7px
    border-radius: 5px
    font-size: smaller
    text-align: center
    margin-bottom: -24px
    margin-top: -3px
