.universal-login-emojis ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.universal-login-emojis ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 73px;
  width: 52px;
  margin: 4px;
  font-size: 25px;
  border: 1px solid #E1E1F0;
}

.emojis-fakes-list button  {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  font-size: 25px;
}

.emojis-placeholders-list {
  margin: 0;
}

.emojis-placeholders-list button {
  width: 100%;
  height: 100%;
}

.emojis-fakes-list {
  margin: 32px 0 0;
  padding: 32px 0 0;
  border-top: 1px solid;
}

.emojis-form-status {
  color: red;
}

.emoji-keyboard {
  margin-top: 20px;
}

.emoji-keybord-row {
  display: flex;
  align-items: center;
}

.universal-login-emojis .emoji-keybord-row  button.emoji-keyboard-arrow-button {
  width: 30px;
  height: 30px;
}

.universal-login-emojis .emoji-keyboard-color-row  .emoji-keyboard-color-item {
  background: none;
  width: auto;
  height: auto;
  border: none;
  box-shadow: none;
}

.universal-login-emojis .emoji-keyboard-color-row  .emoji-keyboard-color-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}