.universal-login-emojis
  .universal-login-default

    .emoji-item
      background: #362F6A
      box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90)

    .emoji-item-empty
      border: 1px solid #0FB989

    .emoji-keyboard-button
      height: 100%
      width: 100%
      border: none
      background: none
      font-size: 25px

    .emojis-form-reject
      background: #0FB989
      border-radius: 6px
      color: #FFFFFF
      border: none

    .emojis-fakes-list
      margin: 32px 0 0
      padding: 32px 0 0
      border-top: 1px solid #46406d

    .emoji-keyboard-color-row
      background: #5f5c97

    .emoji-keyboard-color-row::after
      border-bottom: 7px solid #5f5c97

    .emoji-category-button
      color: #FFFFFF

    .emoji-category-item.active
      border-color: #0FB989

    .approve-device-title
      color: #FFFFFF

    .approve-device-text
      color: #FFFFFF

    .approve-device .connection-device-status
      color: #FFFFFF

    .connect-cancel-btn,
    .connect-approve-btn
      color: #FFFFFF
      border: none

    .connect-cancel-btn
      background: rgba(185, 195, 248, 0.2)

    .connect-approve-btn
      background: #0FB989

    .correct-input-title
      color: #FFFFFF

@media only screen and (max-width: 768px)
  .universal-login-emojis
    .universal-login-default
      .emoji-category-item.active
        border-color: #fff

