.universal-login-footer
  .universal-login-default
    .footer-section
      border-color: #443f6f
      background: #1a0e39

    .footer-cancel-btn,
    .footer-approve-btn
      color: #FFFFFF
      border: none

    .footer-cancel-btn
      background: rgba(185, 195, 248, 0.2)

    .footer-approve-btn
      background: #0FB989