@import helpers/breakpoints

.universal-login-footer
  .footer-section
    display: flex
    justify-content: space-between
    align-items: flex-end
    border-top: 1px solid
    padding: 18px 40px 32px

    +media(s)
      padding: 15px

  .footer-cancel-btn,
  .footer-approve-btn
    width: 170px
    height: 40px
    border-radius: 3px
    font-weight: 500
    font-size: 14px
    line-height: 17px
    text-align: center

  .footer-approve-btn
    margin-left: 12px

  .footer-buttons-row
    display: flex
    align-items: center