.universal-login-funds
  .universal-login-default

    .funds-topup
      background: #0FB989
      color: #FFFFFF

    .funds-send
      border: 1px solid #0FB989
      color: #0FB989
      background: transparent