.universal-login-gas
  .universal-login-default

    .gas-price-title
      color: #FFFFFF

    .gas-price-tooltip
      color: #B9C3F8
      background: #262053
      border: 1px solid rgba(185, 195, 248, 0.5)


    .gas-price-selected
      border-color: rgba(185, 195, 248, 0.3)

    .gas-price-selected-divider
      border-color: #B9C3F8

    .gas-price-btn
      border-color: rgba(185, 195, 248, 0.3)

    .gas-price-selector
      background: linear-gradient(0deg, rgba(185, 195, 248, 0.1), rgba(185, 195, 248, 0.1)), #120838
      box-shadow: 0px -6px 10px rgba(17, 2, 54, 0.739975)

    .transaction-speed-title,
    .transaction-fee-title
      color: #FFFFFF

    .gas-price-radio-custom
      background: rgba(185, 195, 248, 0.1)

    .gas-price-radio:checked + .gas-price-radio-custom
      background: rgba(15, 185, 137, 0.1)
      border-color: #0FB989

    .transaction-speed-type
      color: #FFFFFF

    .transaction-fee-amount
      color: #FFFFFF

    .transaction-fee-amount-usd
      color: #FFFFFF

    .transaction-fee-balance-text,
    .transaction-fee-balance-amount
      color: #FFFFFF