.login-input-label {
  display: block;
  margin-bottom: 16px;
}

.login-input-label-title {
  margin-bottom: 2px;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 25px;

}

.login-input-label-text {
  opacity: 0.75;
  font-size: 13px;
  color: #FFFFFF;
}
