.universal-login-default
  .modal-wrapper
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 99999
    max-width: 100%

  .modal
    background: radial-gradient(104.29% 104.29% at 50% 0%, #0C0E57 0%, #14052C 100%)
    color: #FFFFFF
    border-radius: 6px

  .modal-overlay
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.6)
    z-index: 9999

  .modal-close-btn
    position: absolute
    top: 30px
    right: 30px
    border: none
    width: 17px
    height: 17px
    background-color: transparent
    background: url('./../assets/icons/close-light.svg') center no-repeat

@media only screen and (max-width: 600px)
  .universal-login-default .modal-close-btn
    top: 20px
    right: 20px

.universal-login-default .universal-login-topup div.top-up
  background: none
