.devices-message
  position: relative
  width: 100%
  padding: 20px 30px

.devices-message-row
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 770px
  margin: 0 auto
  padding-left: 63px

.devices-message-row::before
  content: ''
  position: absolute
  top: 50%
  left: 0
  transform: translateY(-50%)
  width: 36px
  height: 34px
  background: url('../assets/icons/new-devices.svg') center no-repeat

.devices-message-desription
  max-width: 430px
  margin-right: 15px

.devices-message-title
  margin: 0 0 9px
  font-weight: 600
  font-size: 14px
  line-height: 21px

.devices-message-text
  margin: 0
  font-size: 12px
  letter-spacing: 0
  line-height: 18px

.devices-message-button
  width: 165px
  height: 45px
  border-radius: 3px
  font-weight: 500
  font-size: 14px
  text-align: center

