.devices-message
  position: relative
  padding: 30px 35px 25px 70px
  margin-bottom: 40px
  border: 1px solid
  border-radius: 3px

.devices-message::before
  content: ''
  position: absolute
  top: 32px
  left: 25px
  width: 28px
  height: 32px
  background: url('../assets/ucomponent/new-device.svg') center no-repeat

.devices-message-row
  display: flex
  justify-content: space-between
  align-items: center

.devices-message-desription
  max-width: 430px
  margin-right: 15px

.devices-message-title
  margin: 0 0 9px
  font-weight: 600
  font-size: 14px

.devices-message-text
  margin: 0
  font-size: 12px
  letter-spacing: 0

.devices-message-button
  width: 165px
  height: 45px
  border-radius: 3px
  font-weight: 500
  font-size: 14px
  text-align: center

