body {
  font-family: 'Poppins', sans-serif
}
.playground {
  display: flex;
  min-height: 100vh;
}

.playground-navigation {
  width: 30%;
  padding: 20px;
  background: lightskyblue;
}

.playground-navigation ul {
  list-style: none;
  padding: 0;
}

.playground-navigation ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 1px solid;
  text-decoration: none;
}

.playground-navigation ul li:active {
  transform: translateY(1px)
}

.playground-navigation ul li + li {
  margin-top: 10px;
}

.playground-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  background: lightblue;
  padding: 20px;
}
