.universal-login-default .settings {
  height: 100%;
  width: 100%;
  padding: 20px 35px;
  background: #fff;
}

.universal-login-default .settings-title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 20px;
  color: #31405E;
}

.universal-login-default .settings-btn {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C9C9D7;
  font-size: 16px;
  color: #AFB2BD;
  letter-spacing: -0.09px;
  text-align: center;
  cursor: pointer;
}

.universal-login-default .settings-btn + .settings-btn {
  margin-top: 12px;
}

.universal-login-default .backup-text {
  margin: 0 0 15px;
  opacity: 0.7;
  font-size: 14px;
  color: #31405E;
  line-height: 1.4;
}

.universal-login-default .backup-codes-loader-wrapper {
  margin-bottom: 20px;
}

.universal-login-default .backup-codes-loader-wrapper .progress-bar::before,
.universal-login-default .backup-codes-loader-wrapper .progress-bar::after {
  background: #000000;
}

.universal-login-default .backup-codes-loader-wrapper .progress-bar::after {
  right: 15px;
}

.universal-login-default .backup-codes-loader-wrapper .progress-bar::before {
  left: 15px;
}

.universal-login-default .code-block {
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

.universal-login-default .code-block + .code-block {
  margin-top: 10px;
}

.universal-login-default .code-block-img {
  margin-right: 15px;
}

.universal-login-default .code-block-id {
  margin: 0 0 10px;
  font-size: 16px;
  color: #31405E;
}

.universal-login-default .code {
  margin: 0;
  opacity: 0.7;
  font-size: 14px;
  color: #31405E;
}

.universal-login-default .backup-codes-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.universal-login-default .backup-buttons-row {
  margin-top: 30px;
}

.universal-login-default .backup-btn {
  background: none;
  border: none;
  font-size: 16px;
  color: #31405E;
  font-weight: 700;
  cursor: pointer;
}

.universal-login-default .backup-btn + .backup-btn {
  margin-left: 15px;
}