.universal-login-settings
  .settings
    padding: 20px
    width: 100%
    background: #fff

  .settings-title
    margin: 0 0 40px
    font-weight: 700
    font-size: 20px

  .backup-loader-wrapper
    margin-bottom: 20px

  .backup-codes-item
    padding: 10px
    display: flex
    align-items: center

  .universal-login-backup
    .backup
      padding: 0

    .backup::before
      display: none

    .backup-title
      display: none

    .backup-subtitle
      color: initial

    .backup-code-contract
      color: initial

    .backup-codes-buttons
      margin-top: 12px
