.universal-login .settings {
  padding: 20px;
  width: 100%;
  background: #fff;
}

.universal-login .backup-codes-loader-wrapper {
  margin-bottom: 20px;
}

.universal-login .code-block {
  padding: 10px;
  display: flex;
  align-items: center;
}

.universal-login .code-block-img {
  margin-right: 15px;
}

.universal-login .code-block-id {
  margin: 0;
}

.universal-login .code {
  margin: 0;
  opacity: 0.7;
  font-size: 14px;
  color: #31405E;
}

.universal-login .backup-codes-buttons {
  margin-top: 12px;
}