@import helpers/breakpoints

.universal-login-topup

@media screen and (max-width: 600px)
  .universal-login-topup .top-up
    min-height: 568px
    height: auto

  .universal-login-topup .top-up-title
    width: 100%
    font-size: 16px
    text-align: left

  .universal-login-topup .unilogin-component-top-up-methods
    margin-top: 16px
    flex-direction: column

  .universal-login-topup .top-up.method-selected .unilogin-component-top-up-methods
    margin-top: 16px
    flex-direction: row

  .universal-login-topup .unilogin-component-top-up-method
    width: 265px
    height: 232px

  .universal-login-topup .top-up.method-selected .unilogin-component-top-up-method
    height: 72px

  .universal-login-topup .top-up.method-selected .unilogin-component-top-up-method + .unilogin-component-top-up-method
    margin: 0 0 0 15px

  .universal-login-topup .unilogin-component-top-up-method + .unilogin-component-top-up-method
    margin: 15px 0 0

  .universal-login-topup .top-up.method-selected .unilogin-component-top-up-method-text
    display: none

  .universal-login-topup .crypto
    position: relative
    padding: 25px 0 75px

  .universal-login-topup .universal-login-default .input-address
    padding: 13px

  .universal-login-topup .address-copy-btn
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    justify-content: center
    width: 180px
    height: 50px
    background-image: linear-gradient(270deg, #0FB1EF 0%, #55FD77 100%)

  .universal-login-topup .address-copy-btn::before
    width: 20px
    height: 20px
    background: url('./../assets/icons/copy-light.svg') center no-repeat

  .universal-login-topup .address-copy-btn span
    display: block
    margin: 0 0 0 5px
    font-weight: 500
    font-size: 14px
    color: #FFFFFF
    letter-spacing: -0.08px
    text-align: center

  .universal-login-topup .fiat .unilogin-component-fiat-methods-title
    margin-top: 15px

  .universal-login-topup .fiat-payment-methods
    flex-wrap: wrap

  .universal-login-topup .fiat-payment-method + .fiat-payment-method
    margin: 0

  .universal-login-topup .fiat-payment-method:nth-child(even)
    margin-left: 5%

  .universal-login-topup .fiat-payment-method
    margin-bottom: 5%

  .universal-login-topup .fiat-selected .fiat-payment-method
    width: 47.5%

  .universal-login-topup .fiat-payment-method .unilogin-component-top-up-radio-inner
    width: 100%

  .universal-login-topup .universal-login .unilogin-component-modal-wrapper
    height: 100%

  .universal-login-topup .unilogin-component-pay-btn
    margin-top: 40px
