.universal-login-topup
  .universal-login-default

    .top-up
      padding: 20px 0 0
      background: radial-gradient(720.65px at 50% 0%, #0C0E57 0%, #14052C 100%)

    .top-up-title
      margin: 0 0 27px
      font-weight: 600
      font-size: 20px
      color: #FFFFFF
      text-align: center

    .top-up-radio-inner
      background: #262053
      box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90)
      border-radius: 6px
      border-color: transparent

    .top-up-method-title
      font-size: 18px
      font-weight: 500
      color: #FFFFFF
      text-align: center

    .top-up-method-text
      font-size: 14px
      color: #A4A8B4
      text-align: center
      line-height: 24px

    .top-up-label
      color: #B9C3F8
      margin: 0 0 5px
      font-weight: 600
      text-transform: uppercase

    .qr-code-wrapper
      text-align: center
      border-radius: 6px
      border: none
      background: #362F6A
      margin: 15px 0px
      padding: 15px 0px

    .input-address-wrapper
      background: #362F6A
      border-radius: 6px
      border: none

    .input-address
      background: transparent
      font-size: 14px
      color: #FFFFFF

    .address-copy-btn
      background: none
      border: none

    .top-up-radio:checked + .top-up-radio-inner
      border: 1px solid #0fb989

    .country-select
      background: #362F6A
      border-radius: 2px

    .country-select-toggle
      border: none

    .country-select-list
      border: none
      background: #362F6A
      border-radius: 2px
      bottom: -3px

    .country-select-toggle::after
      background: url('./../assets/icons/angle-light.svg') center no-repeat
      background-size: contain

    .fiat-inputs
      margin-bottom: 33px

    .country-select-img
      width: 17px
      height: 12px
      background: #FFFFFF
      border-radius: 2px

    .country-select-text
      font-size: 12px
      color: #FFFFFF

    .amount-input-wrapper
      background: #362F6A
      border-radius: 2px
      border: none

    .amount-input
      background: #362F6A
      font-size: 12px
      color: #FFFFFF
      border-radius: 2px

    .amount-dropdown-btn
      border: none
      color: #FFFFFF

    .amount-dropdown-toggle::after
      background: url('./../assets/icons/angle-light.svg') center no-repeat
      background-size: contain

    .amount-dropdown-list
      background: #362F6A
      border: none
      border-radius: 2px
      bottom: -3px

    .pay-btn
      background: #0FB989
      border: none
      color: #FFFFFF

    .pay-btn[disabled]
      background: #262053
      color: #928fa9
