.topup {
  max-width: 570px;
  margin: 0 auto;
}

.topup-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #31405E;
  text-align: center;
}

.topup-btn {
  width: 100%;
  padding: 8px 20px;
  text-align: center;
  border: none;
  background: #FAFAFA;
}

