.universal-login-topup .universal-login-default .top-up {
  padding: 20px 0 40px;
}

.universal-login-topup .universal-login-default .top-up-header {
  padding: 0;
}
.universal-login-topup .universal-login-default .top-up-title {
  margin: 0 0 27px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}
.universal-login-topup .universal-login-default .top-up-radio-inner {
  background: #262053;
  box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90);
  border-radius: 6px;
  border-color: transparent;
}

.universal-login-topup .universal-login-default .top-up-method-title {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
}

.universal-login-topup .universal-login-default .top-up-method-text {
  font-size: 14px;
  color: #A4A8B4;
  text-align: center;
  line-height: 24px;
}

.universal-login-topup .universal-login-default .top-up-label {
  color: #B9C3F8;
  margin: 0 0 5px;
  font-weight: 600;
  text-transform: uppercase;
}

.universal-login-topup .universal-login-default .input-address-wrapper {
  background: #362F6A;
  border-radius: 6px;
  border: none;
}

.universal-login-topup .universal-login-default .input-address {
  background: transparent;
  font-size: 14px;
  color: #FFFFFF;
}

.universal-login-topup .universal-login-default .address-copy-btn {
  background: none;
  border: none;
}

.universal-login-topup .universal-login-default .top-up-radio:checked + .top-up-radio-inner {
  border: 1px solid #0fb989;
}

.universal-login-topup .universal-login-default .country-select {
  background: #362F6A;
  border-radius: 2px;
}

.universal-login-topup .universal-login-default .country-select-toggle {
  border: none;
}

.universal-login-topup .universal-login-default .country-select-list {
  border: none;
  background: #362F6A;
  border-radius: 2px;
  bottom: -3px;
}

.universal-login-topup .universal-login-default .country-select-toggle::after {
  background: url('./../assets/icons/angle-light.svg') center no-repeat;
  background-size: contain;
}

.universal-login-topup .universal-login-default .fiat-inputs {
  margin-bottom: 33px;
}

.universal-login-topup .universal-login-default .country-select-text {
  font-size: 12px;
  color: #FFFFFF;
}

.universal-login-topup .universal-login-default .amount-input-wrapper {
  background: #362F6A;
  border-radius: 2px;
  border: none;
}

.universal-login-topup .universal-login-default .amount-input {
  background: #362F6A;
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 2px;
}

.universal-login-topup .universal-login-default .amount-dropdown-btn {
  border: none;
  color: #FFFFFF;
}

.universal-login-topup .universal-login-default .amount-dropdown-toggle::after {
  background: url('./../assets/icons/angle-light.svg') center no-repeat;
  background-size: contain;
}

.universal-login-topup .universal-login-default .amount-dropdown-list {
  background: #362F6A;
  border: none;
  border-radius: 2px;
  bottom: -3px;
}