.universal-login-topup
  .unilogin-component-top-up
    padding: 20px 0 0
    background: radial-gradient(720.65px at 50% 0%, #0C0E57 0%, #14052C 100%)

  .qr-code-wrapper
    text-align: center
    border-radius: 6px
    border: none
    background: #362F6A

  .input-address-wrapper
    background: #362F6A
    border-radius: 6px
    border: none

  .input-address
    background: transparent
    font-size: 14px
    color: #FFFFFF

  .address-copy-btn
    background: none
    border: none

  .unilogin-component-country-select
    background: #362F6A
    border-radius: 2px

  .unilogin-component-country-select-toggle
    border: none

  .unilogin-component-country-select-list
    border: none
    background: #362F6A
    border-radius: 2px
    bottom: -3px

  .unilogin-component-country-select-toggle::after
    background: url('./../assets/icons/angle-light.svg') center no-repeat
    background-size: contain

  .unilogin-component-country-select-img
    width: 17px
    height: 12px
    background: #FFFFFF
    border-radius: 2px

  .unilogin-component-country-select-text
    font-size: 12px
    color: #FFFFFF

  .unilogin-component-amount-input-wrapper
    background: #362F6A
    border-radius: 2px
    border: none

  .unilogin-component-amount-input
    background: #362F6A
    font-size: 12px
    color: #FFFFFF
    border-radius: 2px

  .unilogin-component-amount-dropdown-btn
    border: none
    color: #FFFFFF

  .unilogin-component-amount-dropdown-toggle::after
    background: url('./../assets/icons/angle-light.svg') center no-repeat
    background-size: contain

  .unilogin-component-amount-dropdown-list
    background: #362F6A
    border: none
    border-radius: 2px
    bottom: -3px

  .unilogin-component-pay-btn
    background: #0FB989
    border: none
    color: #FFFFFF

  .unilogin-component-pay-btn[disabled]
    background: #262053
    color: #928fa9

  .copy-btn
    background: none
    border: none
    cursor: pointer
    outline: none

  .unilogin-component-copy-feedback
    color: #FFFFFF
    background-color: #0FB989

  .unilogin-component-copy-feedback::after
    background-color: #0FB989
