.universal-login-recipient
  .universal-login-default
    .transfer-recipient
      padding-top: 50px


    .transfer-recipient-text
      color: #ABB3E8

    .transfer-recipient-label
      color: #B9C3F8
      margin: 0 0 5px
      font-weight: 600
      text-transform: uppercase
      font-size: 10px

    .transfer-recipient-text
      font-size: 12px
      color: #B9C3F8
      margin: 0 0 5px
      font-weight: 600
      text-transform: uppercase

    .transfer-recipient-input
      height: 32px
      background: #362F6A
      border-radius: 2px
      border: none
      font-weight: 700
      font-size: 12px
      color: #FFFFFF
      padding-left: 13px