.transfer-modal .transfer-amount-label {
  display: block;
  margin: 0;
  font-size: 15px;
  color: #31405E;
  text-transform: initial;
}

.transfer-amount {
  max-width: 500px;
  margin: 0 auto;
}

.transfer-amount-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.transfer-amount-row-item {
  width: 50%;
}

.transfer-amount-row-item + .transfer-amount-row-item {
  margin-left: 30px;
}

.transfer-amount-input-wrapper {
  position: relative;
  margin-bottom: 58px;
}

.transfer-amount-input {
  width: 100%;
  height: 100%;
}

.transfer-amount-code {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #A4A8B4;
  text-align: right;
}

.transfer-amount-max {
  display: block;
  margin-left: auto;
  font-size: 16px;
  color: #2DC8F6;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}

.transfer-amount-btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.transfer-amount-btn span {
  font-size: 16px;
  color: #31405E;
  text-align: center;
}


.currency-accordion {
  position: relative;
  margin-bottom: 100px;
}

.currency-scrollable-list {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 94px;
  margin: 0 auto;
  transform: translateY(100%);
  overflow: auto;
}

.currency-accordion-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 13px;
  height: 11px;
  background: url('./../assets/icons/angle.svg') center no-repeat;
}

.currency-accordion-btn.expaned::after {
  transform: translateY(-50%) rotate(180deg);
}

.currency-accordion-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 92px;
  padding: 0 40px 0 10px;
  background: #fff;
  border: 1px solid #D0D3F6;
}

.currency-accordion-left {
  display: flex;
  align-items: center;
}

.currency-accordion-img {
  display: block;
  margin-right: 10px;
  max-width: 25px;
}

.currency-accordion-name {
  font-size: 14px;
  color: #31405E;
}

.currency-accordion-amount {
  font-size: 14px;
  color: #31405E;
  text-align: right;
}

.currency-accordion-amount-usd {
  font-size: 14px;
  color: #A4A8B4;
  text-align: right;
}

.currency-accordion-content {
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: translateY(100%);
  z-index: 10;
  width: 100%;
}