.universal-login-amount
  .universal-login-default
    .transfer-amount
      padding-top: 50px

    .transfer-amount-label
      color: #B9C3F8

    .transfer-amount-row
      margin-bottom: 10px

    .transfer-amount-label
      margin-bottom: 10px
      color: #B9C3F8

    .transfer-amount-max
      background: none
      border: none
      color: #0FB989

    .transfer-amount-input
      padding: 0 50px 0 13px
      color: #fff
      font-size: 12px
      border-radius: 2px
      border: none
      height: 32px
      background: #362F6A

    .transfer-amount-btn
      border-radius: 6px
      border: none
      padding: 0
      height: 50px
      width: 370px
      max-width: 100%
      background: #0FB989

    .transfer-amount-btn[disabled]
      color: #fff
      background: rgba(185, 195, 248, 0.2)

    .transfer-amount-btn span
      font-weight: 500
      color: #FFFFFF
      letter-spacing: -0.08px

    .currency-accordion-btn
      border-radius: 2px
      border: none
      background: #362F6A
      cursor: pointer

    .currency-accordion-name
      color: #FFFFFF

    .currency-accordion-amount
      color: #FFFFFF

    .currency-accordion-btn::after
      background: url('./../assets/icons/angle-light.svg') center no-repeat

