.udashboard-logo-btn {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.udashboard-modal .modal-wrapper {
  width: 970px;
  max-width: 100%;
  background: radial-gradient(720.65px at 50% 0%, #0C0E57 0%, #14052C 100%);
  padding: 0;
  border-radius: 6px;
}

.udashboard-modal .modal-close-btn {
  top: 17px;
  right: 25px;
  background: url('./../assets/icons/close-light.svg') center no-repeat;
  background-size: contain;
}

.udashboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  background: #262053;
}

.udashboard-tab {
  position: relative;
  height: 100%;
  font-size: 12px;
  color: #ABB3E8;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background: none;
}

.udashboard-tab::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.udashboard-tab-funds {
  padding-left: 18px;
}

.udashboard-tab-funds::before {
  width: 9px;
  height: 17px;
  background: url('./../assets/icons/dollar.svg') center no-repeat;
}

.udashboard-tab-funds.active::before {
  background: url('./../assets/icons/dollar-active.svg') center no-repeat;
}

.udashboard-tab-approve {
  padding-left: 20px;
}

.udashboard-tab-approve::before {
  width: 14px;
  height: 14px;
  background: url('./../assets/icons/bell.svg') center no-repeat;
}

.udashboard-tab-approve.active::before {
  background: url('./../assets/icons/bell-active.svg') center no-repeat;
}

.udashboard-tab-settings {
  padding-left: 22px;
}

.udashboard-tab-settings::before {
  width: 14px;
  height: 14px;
  background: url('./../assets/icons/settings.svg') center no-repeat;
}

.udashboard-tab-settings.active::before {
  background: url('./../assets/icons/settings-active.svg') center no-repeat;
}

.udashboard-tab.active {
  color: #0FB989;
  border-bottom: 2px solid #0FB989;
}

.udashboard-tab + .udashboard-tab {
  margin-left: 60px;
}

.udashboard-content {
  min-height: 635px;
  padding: 20px;
}

.udashboard-funds {
  max-width: 570px;
  margin: 0 auto;
  padding: 20px 0 0;
}

.udashboard-funds-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 60px;
}

.udashboard-funds-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 165px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.udashboard-funds-btn + .udashboard-funds-btn {
  margin-left: 35px;
}

.udashboard-funds-btn::before {
  content: '';
  margin-right: 8px;
}

.udashboard-funds-topup {
  border: 1px solid transparent;
  background: #0FB989;
  color: #FFFFFF;
}

.udashboard-funds-topup::before {
  width: 17px;
  height: 17px;
  background:url('./../assets/icons/plus.svg') center no-repeat;
  background-size: contain;
}

.udashboard-funds-send {
  border: 1px solid #0FB989;
  color: #0FB989;
  background: transparent;
}

.udashboard-funds-send::before {
  height: 18px;
  width: 15px;
  background: url('./../assets/icons/forward-arrow.svg') center no-repeat;
  background-size: contain;
}

.udashboard-progress {
  max-width: 500px;
  padding: 50px 20px 20px;
  margin: 0 auto;
}

.udashboard-progress-text {
  color: #fff;
  font-weight: 700;
  margin: 0 0 40px;
  text-align: center;
  font-size: 20px;
}

.udashboard-content .universal-login-topup .universal-login-default .top-up {
  background: none;
}

.new-notifications::after {
  content: '';
  position: absolute;
  top: -1px;
  right: -4px;
  width: 11px;
  height: 11px;
  background: #0FB989;
  border-radius: 50%;
  border: 1px solid transparent;
}

.udashboard-name {
  color: #A4A8B4;
  text-align: center;
}

.udashboard-blockies {
  position: absolute;
  left: 37%;
  border-radius: 6px;
  top: 12.5%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
