.udashboard-logo-btn
  display: inline-block
  background: none
  border: none
  cursor: pointer
  position: relative

.udashboard-modal .modal-wrapper
  width: 970px
  max-width: 100%
  background: radial-gradient(720.65px at 50% 0%, #0C0E57 0%, #14052C 100%)
  padding: 0
  border-radius: 6px

.udashboard-modal .modal-close-btn
  top: 17px
  right: 25px
  background: url('./../assets/icons/close-light.svg') center no-repeat
  background-size: contain

.udashboard-header
  display: flex
  align-items: center
  justify-content: center
  height: 54px
  background: #262053

.udashboard-tab
  position: relative
  height: 100%
  font-size: 12px
  color: #ABB3E8
  letter-spacing: 1px
  text-align: center
  text-transform: uppercase
  border: none
  background: none
  cursor: pointer
  outline: none

.udashboard-tab::before
  content: ''
  position: absolute
  top: 50%
  left: 0
  transform: translateY(-50%)

.udashboard-tab:focus
  color: #0FB989

.udashboard-tab-funds
  padding-left: 18px

.udashboard-tab-funds::before
  width: 9px
  height: 17px
  background: url('./../assets/icons/dollar.svg') center no-repeat

.udashboard-tab-funds.active::before
  background: url('./../assets/icons/dollar-active.svg') center no-repeat

.udashboard-tab-approve
  padding-left: 20px

.udashboard-tab-approve::before
  width: 14px
  height: 14px
  background: url('./../assets/icons/bell.svg') center no-repeat

.udashboard-tab-approve.active::before
  background: url('./../assets/icons/bell-active.svg') center no-repeat

.udashboard-tab-settings
  padding-left: 22px

.udashboard-tab-settings::before
  width: 14px
  height: 14px
  background: url('./../assets/icons/settings.svg') center no-repeat

.udashboard-tab-settings.active::before
  background: url('./../assets/icons/settings-active.svg') center no-repeat

.udashboard-tab.active
  color: #0FB989
  border-bottom: 2px solid #0FB989

.udashboard-tab + .udashboard-tab
  margin-left: 60px

.udashboard-content
  min-height: 635px
  padding: 20px

.udashboard-progress
  max-width: 500px
  padding: 50px 20px 20px
  margin: 0 auto

.udashboard-progress-text
  color: #fff
  font-weight: 700
  margin: 0 0 40px
  text-align: center
  font-size: 20px

.udashboard-content .universal-login-topup .universal-login-default .top-up
  background: none

.new-notifications::after
  content: ''
  position: absolute
  top: -1px
  right: -4px
  width: 11px
  height: 11px
  background: #0FB989
  border-radius: 50%
  border: 1px solid transparent

.udashboard-tab-devices
  padding-left: 35px

.udashboard-tab-devices::before
  width: 15px
  height: 15px
  background: url('../assets/ucomponent/devices.svg') center no-repeat

.udashboard-tab-backup
  padding-left: 20px

.udashboard-tab-backup::before
  width: 11px
  height: 17px
  background: url('../assets/icons/backup.svg') center no-repeat

@media only screen and (max-width: 768px)
  .udashboard-content
    padding: 15px