.universal-login-waiting-for-transaction
  .universal-login-default
    .action-title
      color: #FFFFFF
      text-align: center

    .transaction-hash-title
      text-align: left
      color: #B9C3F8

    .waiting-for-transfer-text
      color: #B9C3F8

    .txn-hash-text
      align-items: center
      justify-content: center
      color: #FFFFFF
      text-align: center
      border: 1px solid #E1E1F0

    .txn-hash-link
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
      color: #fff

    .info-text
      color: #B9C3F8
      text-align: center
      line-height: normal
      margin: auto

.universal-login-waiting-for-ramp
  .universal-login-default
    .action-title
      color: #FFFFFF