.universal-login-waiting-for-ramp
  .waiting-for-ramp
    display: flex
    align-items: center
    width: 900px
    height: 500px
    padding: 30px

  .waiting-for-ramp-content
    max-width: 700px
    margin: 0 auto

  .waiting-for-ramp-img
    display: block
    margin: 0 auto

  .action-title
    margin: 40px 0
    font-weight: 600
    font-size: 24px
    line-height: 36px
    text-align: center
    padding-bottom: 100px
