* {
  box-sizing: border-box
}

.login-input-label {
  display: block;
  margin-bottom: 16px;
}

.login-input-label-title {
  margin-bottom: 2px;
}

.input {
  width: 100%;
  height: 45px;
  padding: 12px 20.5px;
  border-radius: 5px;
}

.suggestions-list {
  padding: 8px 0;
  margin-top: 8px;
  border-radius: 5px;
  list-style: none;
  background: #fff;
}

.suggestions-item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20.5px;
  background: none;
  border: none;
}

.suggestions-item-btn-text {
  margin: 0;
}

.suggestions-item-text {
  margin: 0;
}

