.universal-login-default .input-wallet-selector {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  background: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border: none;
  text-shadow: none;
}

.universal-login-default input:focus {
  border: 1px solid #0FB989;
  outline: none;
}

.universal-login-default .suggestions-list {
  background: #fefefe;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}

/* .universal-login-default .suggestions-item-btn:hover,
.universal-login-default .suggestions-item-btn:focus {
  background: #ACE8FF;
  outline: none;
} */

.universal-login-default .suggestions-item-btn-text {
  font-weight: 600;
  font-size: 13px;
  color: #5068ED;
  text-transform: uppercase;
}

.universal-login-default .suggestions-item-text {
  font-weight: 600;
  font-size: 14px;
  color: #666;
}

.universal-login-default .button-web3-provider {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background: #5068ED;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border: solid 1px #eee;
  text-shadow: none;
}

.universal-login-default .ethereum-account {
  font-weight: 500;
  font-size: 14px;
  color: #5068ED;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border: solid 1px #eee;
  text-shadow: none;
}

.universal-login-default .ethereum-account:after {
  background: #e43471;
}

.universal-login .suggestions-item-btn {
  color: #3682DE;
}
