.universal-login-default .input-wallet-selector {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  background: #262053;
  box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90);
  border: none;
  text-shadow: none;
}

.universal-login-default input:focus {
  border: 1px solid #0FB989;
  outline: none;
}

.universal-login-default .suggestions-list {
  background: #262053;
  box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90);
}

.universal-login-default .suggestions-item-btn:hover,
.universal-login-default .suggestions-item-btn:focus {
  background: #19143D;
  outline: none;
}

.universal-login-default .suggestions-item-btn-text {
  font-weight: 600;
  font-size: 13px;
  color: #0FB989;
  text-transform: uppercase;
}

.universal-login-default .suggestions-item-text {
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

.universal-login-default .ethereum-account ,
.universal-login-default .button-web3-provider {
  font-weight: 500;
  font-size: 14px;
  color: #34e4b2;
  background: #262053;
  box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90);
  border: solid 1px #34e4b2;
  text-shadow: none;
}

.universal-login-default .ethereum-account:after {
  background: #e43471;
}
