* {
  box-sizing: border-box;
}

.universal-login .selector-input-wrapper {
  position: relative;
  width: 100%;
}

.universal-login .selector-input-img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.outter {
  perspective: 1000px;
}

.universal-login-default .ethereum-account,
.universal-login-default .button-web3-provider {
  position: absolute;
}

.universal-login-default .ethereum-account,
.universal-login-default .button-web3-provider,
.universal-login-default .selector-input-wrapper {
  top: 0;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateX(170deg);
  backface-visibility: hidden;
}

.universal-login-default .button-web3-provider {
  transform: rotateX(-180deg);
}

.universal-login-default .show-initial .button-web3-provider {
  transform: rotateX(0);
  opacity: 1;
}

.universal-login-default .show-picker .selector-input-wrapper {
  transform: rotateX(0);
  opacity: 1;
}

.universal-login-default .show-account .ethereum-account {
  transform: rotateX(0);
  opacity: 1;
}

.universal-login-default .button-web3-provider {
  padding: 12px 0 !important;
}

.universal-login-default .ethereum-account,
.universal-login-default .button-web3-provider,
.universal-login .input-wallet-selector {
  width: 100%;
  height: 45px;
  padding: 12px 46px 12px 42px;
  border-radius: 5px;
}

.universal-login-default .ethereum-account,
.universal-login-default .button-web3-provider {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  background: #5068ed;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.universal-login-default .button-web3-provider {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.universal-login .suggestions-list {
  padding: 8px 0;
  margin-top: 8px;
  border-radius: 5px;
  list-style: none;
  background: #fff;
}

.universal-login .suggestions-item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20.5px;
  background: none;
  border: none;
}

.universal-login .suggestions-item-btn-text {
  margin: 0;
}

.universal-login .suggestions-item-text {
  margin: 0;
  word-break: break-word;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
