.unilogin-component-onboarding-select-flow
  .unilogin-component-onboarding-modal-title
    margin-bottom: 0

  .unilogin-component-onboarding-icon-wrapper
    margin-bottom: 3.5rem

  .unilogin-component-info-text-hint
    position: absolute
    left: 0
    color:#E44557
    font-size: 1.2rem
    text-align: left
    position: relative
    padding: .5rem 1.6rem .5rem 3.8rem
    background: #FFEDF0
    border-radius: .4rem
    white-space: nowrap
    max-width: min-content

  .unilogin-component-onboarding-content-wrapper
    margin: 0 7.6rem
    flex: 1

    @media only screen and (max-width: 600px)
      margin: 0

  .unilogin-component-input-item + .unilogin-component-input-item
    margin-top: 4rem

  .unilogin-component-back-btn

  .unilogin-component-password-input-wrapper input
    letter-spacing: 5px

  .unilogin-component-onboarding-modal-content
    margin-top: 8.9rem

  .unilogin-component-buttons-wrapper
    margin: auto 0 2.4rem auto

    @media only screen and (max-width: 600px)
      margin: auto auto 6.4rem auto
      display: flex
      flex-direction: column

  .unilogin-component-buttons-wrapper > button + button
    margin-left: .6rem

    @media only screen and (max-width: 600px)
      margin-left: 0
      margin-top: 3rem
