@import '../helpers/breakpoints'

.unilogin-component-funds
  margin: 0 auto
  padding: 0

  +media(s)
    padding: 0 0 4rem

.unilogin-component-funds-buttons
  display: flex
  align-items: center
  justify-content: center
  margin: 2.5rem 0 6rem

  +media(s)
    margin: 2.5rem 0
