@import '../helpers/breakpoints'

.unilogin-component-funds
  margin: 0 auto
  padding: 0

  +media(s)
    padding: 0 0 40px

.unilogin-component-funds-buttons
  display: flex
  align-items: center
  justify-content: center
  margin: 25px 0 60px

  +media(s)
    margin: 25px 0
