.unilogin-component-btn-primary
  position: relative
  display: flex
  align-items: center
  justify-content: center
  height: 4.5rem
  width: 16.5rem
  border-radius: .3rem
  font-weight: 500
  font-size: 1.4rem
  cursor: pointer
  border: 1px solid transparent

  &::before
    content: ''
    margin-right: .8rem
