.unilogin-component-waitingfortransaction-txn-hash-text
  width: 100%
  height: 50px
  display: flex
  font-size: 18px
  font-weight: 600
  align-items: center
  justify-content: center
  color: #FFFFFF
  text-align: center
  border: 1px solid #E1E1F0

.unilogin-component-waitingfortransaction-txn-hash-link
  font-size: 13px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  width: 95%
  height: 1.2em
  color: #fff