.unilogin-theme-unilogin .unilogin-component-assets-item
  .unilogin-component-assets-name
    color: #0F0C4A
    margin-bottom: .5rem

  .unilogin-component-assets-price
    color: #7D7C9C

  .unilogin-component-assets-balance
    color: #0F0C4A
    font-weight: bold
    margin-bottom: .5rem

  .unilogin-component-assets-price-tilde
    color: #7D7C9C
