@import '../../helpers/breakpoints'

.unilogin-theme-unilogin.unilogin-component-assets-wrapper
  .unilogin-component-assets-title
    color: #7D7C9C

    +media(s)
      color: #B9C3F8

  .unilogin-component-assets-list
    box-shadow: 0px 10px 50px rgba(0, 131, 188, 0.1)

  .unilogin-component-assets-item + .unilogin-component-assets-item
    border-color: #55507A