.unilogin-theme-unilogin.unilogin-component-user-balance
  box-sizing: border-box
  padding-top: 2rem
  padding-bottom: 2.8rem

  .unilogin-component-balance
    margin-top: 0

  .unilogin-component-balance-text
    color: #7D7C9C

  .unilogin-component-balance-amount
    color: #0F0C4A
