.unilogin-theme-unilogin
  .unilogin-component-info-text-hint:before
    content: ''
    height: 1.5rem
    width: 1.5rem
    position: absolute
    top: .2rem
    left: 0
    background-image: url('../../../assets/icons/warning.svg')
    background-repeat: no-repeat
