.unilogin-component-onboarding-select-flow.unilogin-theme-unilogin
  .unilogin-component-info-text-hint
    bottom: -29px
    height: 28px
    margin: 0 auto

  .unilogin-component-info-text-hint:before
    content: ''
    height: 1.5rem
    width: 1.5rem
    position: absolute
    top: 0.6rem
    left: 15px
    background-image: url('../../../assets/icons/warning.svg')
    background-repeat: no-repeat

  .unilogin-component-onboarding-icon-wrapper
    position: relative

  .unilogin-component-onboarding-icon-wrapper::before
    content: ''
    position: absolute
    top: -59%
    left: 33%
    transform: translate(50%, 50%)
    width: 17rem
    height: 14rem
    background: #C77CFF
    border: 2px solid red
    opacity: 0.15
    filter: blur(44px)
    transform: rotate(-25.33deg)
