.unilogin-theme-unilogin .unilogin-component-funds-wrapper
  @import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap')
  font-family: 'Lato', sans-serif

.unilogin-theme-unilogin .unilogin-component-balance-wrapper
  border: 1px solid #DDEBF1
  border-radius: 8px
  margin-bottom: 3.2rem

  .unilogin-component-funds-buttons
    margin: 2.5rem 0 2.8rem