.unilogin-theme-unilogin.modal-wrapper
  min-width: 770px

  @media only screen and (max-width: 770px)
    min-width: 100%

  @media only screen and (max-width: 600px)
    min-width: 100%


.unilogin-theme-unilogin
  .modal
    @media only screen and (max-width: 600px)
      min-height: calc(100vh - 42px)
      background: #fff

    @media only screen and (max-width: 600px)
      border-radius: unset
