.unilogin-theme-unilogin.unilogin-component-onboarding-modal
  background: #fff
  @import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap')
  font-family: 'Lato', sans-serif

  .unilogin-component-onboarding-modal-title
    color: #0F0C4A

  .unilogin-component-onboarding-modal-description
    color: #7D7C9C

  .unilogin-component-onboarding-modal-label
    color: #0F0C4A

.button-choose-token
  width: 120px
  height: 30px
  margin: 30px auto 50px auto

.choose-token-title
  font-size: 20px
  margin: 50px auto
