.unilogin-theme-unilogin.unilogin-component-btn-primary
    background: linear-gradient(149.11deg, #00BFD9 0.28%, #527EEE 100%)
    color: #fff
    border-radius: .4rem

.unilogin-theme-unilogin.unilogin-component-btn-primary.funds-topup
    margin-right: 1.5rem

    &::before
        width: 17px
        height: 17px
        background:url('./../../../assets/icons/plus.svg') center no-repeat
        background-size: contain

.unilogin-theme-unilogin.unilogin-component-btn-primary.funds-send
    &::before
        width: 17px
        height: 17px
        background:url('./../../../assets/icons/arrow-top-right.svg') center no-repeat
        background-size: contain