.unilogin-theme-unilogin.unilogin-component-udashboard
  .udashboard-ens
    background: #E8F9FE
    border-radius: 2px
    line-height: 14px
    color: #0F0C4A
    padding: 7px 16px

.unilogin-theme-unilogin .udashboard-content
  height: calc(100% - 89px)
  .universal-login-emojis
    flex: 1

  @media only screen and (max-width: 500px)
    .universal-login-emojis

      .approve-device
        padding: 20px 0 0

  #emojis
    padding: 0 15px

  .unilogin-component-top-up-body-crypto
    min-height: unset

  .unilogin-component-top-up-header
    color: #fff

  .unilogin-component-company-logo
    display: none

  .unilogin-component-onboarding-progress-wrapper
    display: none

  .unilogin-component-modal-title
    color: #fff

  input:focus, textarea:focus, button:focus
    outline: none
    border: 1px solid #554c99
