.unilogin-theme-unilogin .unilogin-component-waitingfor-action-title-box
  padding: 7rem 4.3rem 3rem

  @media only screen and ( max-width: 600px)
    padding: 4rem 4.3rem 3rem

.unilogin-theme-unilogin .unilogin-component-waitingfor-action-title
  font-size: 30px
  font-weight: 300
  line-height: 29px
  color: #0F0C4A
  margin-top: 0
  margin-bottom: 2.4rem

  @media only screen and ( max-width: 600px)
    font-size: 24px

.unilogin-theme-unilogin .unilogin-component-waitingfor-modal-pending-section
  display: none
