*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

html
  overflow-x: hidden

body
  overflow-x: hidden
  font-family: 'Poppins', sans-serif
  background: #fafbfd

button
  font-family: 'Poppins', sans-serif
  
.row
  display: flex

.box
  border-radius: 5px
  background: #FFFFFF
  box-shadow: 0 2px 4px 0 rgba(208,209,217,0.25)