.dashboard
  display: flex
  height: 100vh

.dashboard-main
  position: relative
  width: 100%

.dashboard-content
  overflow-y: auto
  padding: 30px 30px 100px

.dashboard-balance
  max-width: 707px
  margin: 140px auto 0
