.dashboard
  position: relative
  display: flex
  height: 100vh

.dashboard-main
  position: relative
  width: 100%

.dashboard-content
  width: 100%
  overflow-y: auto
  padding: 30px 30px 100px

.dashboard-content-notifications
  +media(s, 168px)
    padding: 0 0 83px

.dashboard-balance
  max-width: 707px
  margin: 140px auto 0
