.universal-login-assets
  .jarvis-assets
    .assets
      max-width: 770px
      margin: 0 auto
      padding: 20px
      transform: translateY(-50px)
      background: #FFFFFF
      box-shadow: 0 3px 17px 0 rgba(79,55,168,0.09)

    .assets-title
      font-size: 16px
      font-weight: 700
      color: #31405E

    .assets-list
      padding: 0

    .assets-item
      padding: 20px

    .universal-login-assets-item + .universal-login-assets-item
      border-top: none

.universal-login-assets-item
  .jarvis-assets
    .assets-name
      font-size: 14px
      color: #31405E

    .assets-balance
      font-size: 14px
      color: #31405E
      text-align: right

    .assets-price
      margin-top: 5px
      font-size: 12px
      color: #A4A8B4
