.universal-login-assets
  .jarvis-styles
    .assets
      max-width: 522px
      min-width: 522px
      margin: 0 auto

      @media only screen and (max-width: 600px)
        min-width: 100%

    .assets-title
      margin: 0 0 8px
      color: #31405E

    .assets-list
      background: #FFFFFF
      border: 1px solid #C7C7D4
      border-radius: 2px

    .assets-item-right
      text-align: right

    .universal-login-assets-item + .universal-login-assets-item
      border-top: 1px solid #e3e3e9

.universal-login-assets-item
  .jarvis-styles
    .assets-name
    .assets-balance
      margin: 0 0 5px
      font-size: 14px
      line-height: 17px
      color: #31405E

    .assets-price
      font-size: 12px
      line-height: 14px
      color: #31405E

    .assets-price-tilde
      color: #31405E
      font-size: 14px
      line-height: 14px

    .assets-balance-converted
      margin-top: 5px
