.balance
  max-width: 375px
  margin: 0 auto

.balance-title
  font-weight: 400
  margin-bottom: 10px
  font-size: 16px
  color: #31405E
  text-align: center

.balance-amount
  margin-bottom: 25px
  font-weight: 600
  font-size: 44px
  color: #3D3D41
  text-align: center

.balance-row
  display: flex
  align-items: center

.balance-btn
  display: flex
  align-items: center
  justify-content: center
  width: 155px
  height: 50px
  font-weight: 600
  font-size: 16px
  color: #C9C9D7
  letter-spacing: -0.09px
  background: #FFFFFF
  border: 1px solid #C9C9D7

.balance-btn img
  margin-right: 14px

.balance-btn + .balance-btn
  margin-left: 30px