.universal-login-devices
  .jarvis-styles

    .devices
      height: 650px
      overflow: scroll
      padding: 0 10px

      +media(s, 168px)
        padding-top: 10px
        height: initial
        padding-bottom: 80px

    .devices-inner
      min-height: 570px
      padding: 40px 50px 0

      +media(s)
        min-height: initial
        padding: 40px 15px 0

    .connected-devices-title
      color: #31405E

    .devices-confirmation-text
      margin: 0 25px 0 0
      color: #31405E

    .devices-confirmation-input-wrapper
      border: 1px solid #C7C7D4
      border-radius: 3px

    .devices-confirmation-input
      font-weight: 700
      color: #31405E

    .devices-amount-buttons
      border-left: 1px solid #C7C7D4

    .devices-amount-decrease-btn
      border-top: 1px solid #C7C7D4

    .devices-amount-increase-btn::before
      border-bottom: 4px solid #C7C7D4

    .devices-amount-decrease-btn::before
      border-top: 4px solid #C7C7D4

    .devices-confirmation-edit-button
      border: 1px solid #2EC9F5
      color: #2EC9F5

    .devices-confirmation-save-button
      background: #2EC9F5
      color: #ffffff

    .connected-devices-type
      margin: 0 0 4px
      font-weight: bold
      font-size: 16px
      line-height: 20px
      color: #31405E

    .connected-devices-details
      color: #989faf

    .connected-devices-active
      font-size: 12px
      line-height: 14px
      color: #31405E

    .connected-devices-trash-btn
      background: url('./../assets/icons/trash.svg') center no-repeat
      background-size: contain

    .connected-devices-item.highlighted
      background: #FFFFFF
      border: 1px solid #C7C7D4
      border-radius: 2px

    .connected-devices-cancel
      color: #31405E

    .connected-devices-delete
      background: #FC4B61
      color: #FFFFFF

    .disconnect-account-link
      position: static
      color: #31405E
      opacity: 0.6
      margin: 20px 30px 40px

      +media(s, 168px)
        position: static
        margin: 30px auto 0
        display: block
        transform: translate(0, 0)

    .connected-devices-img-wrapper.default::before
      background: #fff url('./../assets/icons/U.svg') center no-repeat
      background-size: 14px 15px
      border: 1px solid #C7C7D4

    .connected-devices-img-wrapper.laptop::before
      background: #fff url('./../assets/icons/laptop.svg') center no-repeat
      border: 1px solid #C7C7D4

    .connected-devices-img-wrapper.phone::before
      background: #fff url('../assets/icons/phone.svg') center no-repeat
      border: 1px solid #C7C7D4

    .connected-devices-img-wrapper.tablet::before
      background: #fff url('../assets/icons/tablet.svg') center no-repeat
      border: 1px solid #C7C7D4


.universal-login-devices-message
  .jarvis-styles
    .devices-message
        background: rgba(46, 201, 245, 0.2)

    .devices-message-row::before
      background: url('./../assets/icons/new-device.svg') center no-repeat
      background-size: contain

    .devices-message-title
      color: #31405E

    .devices-message-text
      color: #31405E
      opacity: 0.6

    .devices-message-button
      background: #2EC9F5
      border-radius: 2px
      font-weight: 500
      color: #FFFFFF
