.universal-login-disconnect-account
  display: flex
  flex-direction: column
  flex: 1

  .jarvis-styles
    .disconnect-account
      position: relative
      padding: 180px 15px 70px
      display: flex
      flex-direction: column
      flex: 1

      @media only screen and (max-width: 770px)
        padding: 115px 15px 0

    .disconnect-account::before
      top: 100px

      @media only screen and (max-width: 770px)
        top: 30px

    .disconnect-account-title
      margin: 0 0 15px
      color: #31405E
      font-weight: 700

    .disconnect-account-subtitle
      color: #31405E
      opacity: 0.8

    .disconnect-account-label
      color: #989faf

    .disconnect-account-label span
      color: #31405E

    .disconnect-account-input
      background: #FFFFFF
      border: 1px solid #C7C7D4
      border-radius: 2px
      color: #31405E

    .disconnect-account-input-error
      background: #FFFFFF
      border: 1px solid #FF0000
      border-radius: 2px
      color: #31405E

    .disconnect-account-cancel
      color: #2EC9F5
      border: 1px solid #2EC9F5
      border-radius: 2px

    .disconnect-account-confirm
      background: #FF345C
      border-radius: 2px
      color: #fff

    .disconnect-account-hint
      color: #FF1D1C
      background: #feeced

    .disconnect-account-buttons > button
      @media only screen and (max-width: 550px)
        width: 100%

    .disconnect-account-form
      min-width: 370px

      @media only screen and (max-width: 770px)
        margin: 40px auto 40px

      @media only screen and (max-width: 370px)
        min-width: 100%

    .disconnect-account-buttons
      @media only screen and (max-width: 770px)
        margin-top: auto
        padding-bottom: 20px
