.header
  display: flex
  justify-content: space-between
  align-items: center
  height: 70px
  padding: 15px 30px
  background: #fff

  +media(s, 168px)
    height: 53px
    position: fixed
    width: 100%
    bottom: 0
    left: 0

.header-row
  display: flex
  align-items: center

  +media(s, 168px)
    width: 100%

.header-logo-link
  +media(s, 168px)
    display: none

.header-list
  display: flex
  justify-content: flex-end
  align-items: center
  margin-right: 75px

  +media(s, 168px)
    justify-content: space-between
    width: 100%
    align-items: center

.header-list-item + .header-list-item
  margin-left: 25px

.header-btn
  position: relative
  font-size: 14px
  line-height: 16px
  color: #838c9e

.header-btn::before
  content: ''
  position: absolute
  top: 50%
  left: 0
  transform: translateY(-50%)

.funds-btn
  padding-left: 18px

.funds-btn::before
  height: 18px
  width: 9px
  background: url('./../assets/icons/dollar.svg') center no-repeat
  background-size: contain

.backup-btn
  padding-left: 20px

.backup-btn::before
  height: 18px
  width: 12px
  background: url('./../assets/icons/backup.svg') center no-repeat
  background-size: contain

.header-btn img
  max-width: 100%

.settings-btn
  +media(s, 168px)
    display: block
    width: 20px

.devices-btn
  padding-left: 25px

.devices-btn::before
  height: 16px
  width: 16px
  background: url('./../assets/icons/devices.svg') center no-repeat
  background-size: contain

.transactions-btn
  padding-left: 22px

.transactions-btn::before
  height: 19px
  width: 13px
  background: url('./../assets/icons/arrows.svg') center no-repeat
  background-size: contain

.header-btn .new-notifications::after
  content: ''
  position: absolute
  top: -7px
  left: -11px
  width: 13px
  height: 13px
  background: #0FB989
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.14516)
  border-radius: 50%

.user-btn
  display: none
  width: 32px
  height: 32px
  margin: 0 auto

  +media(s, 168px)
    display: block
    border-radius: 50%
    overflow: hidden
    width: 20px
    height: 20px

.header-dropdown
  position: relative

.header-dropdown-content
  position: absolute
  left: 50%
  bottom: -30px
  transform: translate(-50%, 100%)
  width: 500px
  max-height: 500px
  overflow-y: auto
  z-index: 10

  +media(s, 168px)
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 53px
    width: 100%
    transform: translate(0, 0)
    overflow: auto
    max-height: unset

.header-dropdown-content .universal-login .settings
  +media(s, 168px)
    background: #fafbfd

.header-dropdown-content-title
  display: none
  font-size: 20px
  color: #31405E
  padding: 30px 20px
  background: #fff

  +media(s, 168px)
    display: flex
    align-items: center

.header-dropdown-content .universal-login .settings-title
  +media(s, 168px)
    display: none

.back-btn
  display: block
  width: 18px
  height: 12px
  margin-right: 14px
  background: url('./../assets/icons/arrow-left.svg') center no-repeat
  background-size: contain

.header-dropdown-content .universal-login .accordion
  +media(s, 168)
    background: #fff
    border: 1px solid #E1E1F0

.header-dropdown-content .universal-login .settings
  +media(s, 168px)
    overflow: auto
    padding: 25px 20px