.receive-modal-hints
  margin-top: 30px

.hint + .hint
  margin-top: 20px

.hint
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px

.hint.yellow
  color: #D3A528
  background: #ffffe4

.hint.red
  color: #FF1D1C
  background: #feeced

.hint-text
  color: inherit
  font-size: 16px
  line-height: 1.3

  +media(s)
    font-size: 14px

.yellow.hint .hint-btn
  background: #FDFDC3

.red.hint .hint-btn
  background: #fedbdd

.hint-btn
  height: 32px
  width: 138px
  color: inherit
  margin-left: 25px
  font-size: 14px
  letter-spacing: -0.08px
  text-align: center

  +media(s)
    min-width: 75px
    margin-left: 10px
