.input-copy-wrapper
  display: flex

.input-copy
  height: 45px
  width: 100%
  background: #FFFFFF
  border: 1px solid #E1E1F0

.copy-btn
  width: 50px
  height: 45px
  display: block
  margin-left: 10px
  background: #fff url('./../assets/icons/copy.svg') center no-repeat
  border: 1px solid #E1E1F0

.copy-btn-feedback
  visibility: hidden
  text-align: center
  padding: 5px
  z-index: 1
  opacity: 0
  color: green

.copy-btn-feedback:before
  content: '\2713'

.copy-btn:focus .copy-btn-feedback
  visibility: visible
  opacity: 1

.copy-btn:focus
  background: none