.jarvis
  position: relative
  margin-bottom: 25px

  .selector-input-wrapper
    margin-bottom: 25px

  .input.input-wallet-selector
    height: 50px
    width: 100%
    background: #FFFFFF
    border: 1px solid #E1E1F0
    border-radius: 0
    font-size: 14px;
    color: #31405E;

.jarvis-input-label
  display: block
  font-size: 12px
  font-weight: 500
  margin-bottom: 10px
