.modal-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0.2
  background: #FFFFFF

.modal-wrapper
  position: fixed
  top: 50%
  left: 50%
  max-height: 100%
  max-width: 100%
  transform: translate(-50%, -50%)
  padding: 15px
  overflow-y: auto

  +media(s, 183px)
    padding: 15px 15px 83px

.modal
  width: 770px
  max-width: 100%
  padding: 0
  color: #ffffff
  background: #FAFBFD
  box-shadow: 0 3px 17px 0 rgba(79,55,168,0.09)
  border-radius: 6px

.modal-body
  max-width: 100%

.modal-content
  padding: 30px

  +media(s)
    padding: 15px

.modal-title
  padding-right: 25px
  margin-bottom: 6px
  font-weight: 600
  font-size: 18px
  color: #FFFFFF

.modal-subtitle
  opacity: 0.75
  font-size: 13px
  color: #FFFFFF

.modal-close-btn
  position: absolute
  top: 39px
  right: 30px
  width: 20px
  height: 20px
  background: url('../assets/close.svg') center no-repeat

.modal-text
  opacity: 0.75
  font-size: 12px
  color: #FFFFFF
  line-height: 19px

.qr-code
  margin: 0 auto 33px
  text-align: center

.modal-topup-row
  display: flex
  max-width: 100%
  width: 707px
  margin: 74px 0 36px

  +media(s, 50px)
    flex-direction: column
    margin: 90px 0 20px

.modal-topup-block + .modal-topup-block
  margin-left: 33px

  +media(s, 50px)
    margin: 43px 0 0

.modal-topup-block
  width: 50%

  +media(s, 50px)
    width: 100%

.modal-topup-btn
  width: 100%
  height: 168px
  display: flex
  justify-content: center
  align-items: center
  padding: 25px
  background: #262053
  border: 1px solid transparent
  box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90)
  border-radius: 5px

.modal-topup-btn:hover
  background: rgba(15,185,137,0.10)
  border: 1px solid #0FB989
  box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90)

.modal-topup-separator
  height: 118px
  min-width: 1px
  margin: 0 16%
  border: none
  background: #C3C0D8
  opacity: 0.2

.modal-topup-icon
  width: 78px
  height: 78px

  +media(s, 50px)
    width: 72px
    height: 72px

.modal-topup-text
  max-width: 195px
  margin: 29px auto 0

  +media(s, 50px)
    margin: 15px auto 0

.address-modal
  width: 618px

.address-modal-text
  margin: 10px 0 38px

  +media(s)
    margin: 20px 0 0

.address-modal-row
  display: flex
  align-items: center
  justify-content: center
  margin: 40px 0 55px

  +media(s)
    margin: 55px 0

.address-modal-block
  display: flex
  align-items: center
  justify-content: center

  +media(s)
    flex-direction: column

.address-modal-block + .address-modal-block
  margin-left: 30px

  +media(s)
    margin-left: 55px

.address-modal-amount
  margin-left: 19px
  opacity: 0.5
  font-size: 13px
  color: #FFFFFF
  text-align: center

  +media(s)
    margin: 16px 0 0

.info-modal-fields
  max-width: 100%
  width: 500px
  margin: 38px 0 10px

.input-info-modal-input
  margin-bottom: 30px

.modal-card-amount
  font-weight: 500
  font-size: 20px
  color: #0FB989

.card-modal-fields
  max-width: 100%
  width: 500px
  margin: 40px 0

.input-card-modal-input
  margin-bottom: 30px

.card-modal-row
  display: flex
  justify-content: space-between

  +media(xs, 60px)
    flex-wrap: wrap

.card-modal-row-item:nth-child(1),
.card-modal-row-item:nth-child(2)
  +media(xs, 60px)
    width: 46%

.card-modal-row-item:nth-child(1)
  +media(xs, 60px)
    margin-right: 2%

.card-modal-row-item:nth-child(2)
  +media(xs, 60px)
    margin-left: 2%

.card-modal-row-item:nth-child(3)
  +media(xs, 60px)
    margin-top: 30px
    width: 100%


.card-modal-row-item + .card-modal-row-item
  margin-left: 45px

  +media(s)
    margin-left: 15px

  +media(xs, 60px)
    margin-left: 0

.modal-deploying-content-loader
  display: flex
  justify-content: center

.modal-deploying-content
  width: 618px

.modal-deploying-title
  margin: 28px 0 34px
  font-size: 23px
  color: #FFFFFF
  text-align: center

.jarvis-modal
  .modal-wrapper
    width: 770px
    padding: 0

.modal-avatar-pending
  display: block
  width: 104px
  height: 114px
  margin: 38px auto 42px

  +media(s)
    width: 90px
    height: 100px

.modal-section-title
  font-size: 12px
  color: #AFB2BD
  text-align: center

.modal-pending-content
  padding: 50px 43px 100px

  +media(s)
    padding: 30px 15px

.modal-pending-section
  max-width: 500px
  width: 100%
  margin: 30px auto 38px

.modal-pending-loader
  margin-bottom: 26px

.transaction-hash-title
  margin-bottom: 5px
  text-align: left

  +media(s)
    text-align: center

.txn-hash-text
  width: 100%
  height: 50px
  display: flex
  align-items: center
  justify-content: center
  font-size: 18px
  color: #2EC9F5
  font-weight: 600
  text-align: center
  border: 1px solid #E1E1F0

.modal-succes-content
  padding: 50px 75px 30px

  +media(s)
    padding: 30px 15px

.modal-avatar-succes
  display: block
  width: 100px
  height: 100px
  margin: 38px auto 42px

  +media(s)
    margin: 30px auto 20px

.created-account
  display: flex
  align-items: center
  max-width: 310px
  margin: 21px auto 115px

  +media(s)
    margin: 40px auto

.created-account canvas
  width: 50px
  height: 50px
  border-radius: 50%
  margin-right: 20px

  +media(s)
    width: 40px
    height: 40px
    margin-right: 15px

.created-account-label
  margin-bottom: 5px
  opacity: 0.7
  font-weight: 600
  font-size: 16px
  color: #31405E

.created-account-hash
  opacity: 0.7
  font-size: 14px
  color: #31405E

.modal-succes-btn
  display: flex
  align-items: center
  justify-content: center
  max-width: 500px
  margin: 50px auto 0

  +media(s)
    margin-top: 80px


.transfer-modal .transfer-modal-label
  display: block
  margin: 0
  font-size: 15px
  color: #31405E
  text-transform: initial

.transfer-modal-inner
  max-width: 500px
  margin: 0 auto

.transfer-modal-row
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 20px

.transfer-modal-row-item
  width: 50%

.transfer-modal-row-item + .transfer-modal-row-item
  margin-left: 30px

.transfer-input-wrapper
  position: relative
  margin-bottom: 58px

.currency-code
  position: absolute
  top: 50%
  right: 20px
  transform: translateY(-50%)
  font-size: 12px
  color: #A4A8B4
  text-align: right

.transfer-max-btn
  display: block
  margin-left: auto
  font-size: 16px
  color: #2DC8F6
  text-align: right
  text-decoration: underline

.modal-nav-btn
  display: block
  margin: 0 auto

.modal-nav-btn span
  position: relative
  padding-left: 22px
  font-size: 16px
  color: #31405E
  text-align: center

.modal-nav-btn span::before
  content: ''
  position: absolute
  top: 50%
  left: 0
  transform: translateY(-50%)
  width: 10px
  height: 15px
  background: url('./../assets/icons/arrow-down.svg') center no-repeat

.recipient-input-wrapper
  position: relative
  margin-bottom: 160px

.input-recipient-input
  border: 1px solid #E1E1F0
  padding-right: 25px

.recipient-modal-inner
  max-width: 500px
  margin: 0 auto

.recipient-modal-text
  margin-bottom: 35px
  font-size: 16px
  color: #31405E
  text-align: center

.modal-back-btn
  display: block
  width: 18px
  height: 12px
  margin-right: 14px
  background: url('./../assets/icons/arrow-left.svg') center no-repeat

.receive-modal-hints
  margin-top: 30px

.hint + .hint
  margin-top: 20px

.hint
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px

.hint.yellow
  color: #D3A528
  background: #ffffe4

.hint.red
  color: #FF1D1C
  background: #feeced

.hint-text
  color: inherit
  font-size: 16px
  line-height: 1.3

  +media(s)
    font-size: 14px

.yellow.hint .hint-btn
  background: #FDFDC3

.red.hint .hint-btn
  background: #fedbdd

.hint-btn
  height: 32px
  width: 138px
  color: inherit
  margin-left: 25px
  font-size: 14px
  letter-spacing: -0.08px
  text-align: center

  +media(s)
    min-width: 75px
    margin-left: 10px