.universal-login-settings
  .jarvis-settings

    .universal-login-backup
      .backup-btn
        width: 100%
        background: #FFFFFF
        border: 1px solid #C9C9D7
        font-size: 16px
        color: #AFB2BD
        letter-spacing: -0.09px
        text-align: center
        border-radius: 0
        font-weight: 400

      .generate-code-btn
        margin-top: 30px

      .backup-loader-wrapper
        margin-top: 30px

      .cancel-backup-btn
        margin: 30px auto 0

      .backup-codes-buttons
        margin-bottom: 0

      .backup-buttons-row
        margin-top: 0