.textarea
  width: 100%
  height: 65px
  padding: 12px 20.5px
  font-size: 13px
  color: #ffffff
  border-radius: 5px
  resize: none
  background: #ffffff
  border: none

.textarea:focus
  border: 1px solid #0FB989
  outline: none