.textarea
  width: 100%
  height: 65px
  padding: 12px 20.5px
  font-size: 13px
  color: #ffffff
  border-radius: 5px
  resize: none
  background: #262053
  border: none
  box-shadow: 0 2px 4px 0 rgba(17,2,54,0.90)

.textarea:focus
  border: 1px solid #0FB989
  outline: none