.jarvis-transfer-amount
  .transfer-modal .transfer-amount-label
    display: block
    margin: 0
    font-size: 15px
    color: #31405E
    text-transform: initial

  .transfer-amount
    max-width: 500px
    margin: 0 auto

  .transfer-amount-row
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px

  .transfer-amount-row-item
    width: 50%

  .transfer-amount-row-item + .transfer-amount-row-item
    margin-left: 30px

  .transfer-amount-input-wrapper
    position: relative
    margin-bottom: 58px

  .transfer-amount-input
    height: 50px
    background: #fff
    border: 1px solid #D0D3F6
    padding: 0 50px 0 20px
    font-size: 16px

  .transfer-amount-code
    position: absolute
    top: 50%
    right: 20px
    transform: translateY(-50%)
    font-size: 12px
    color: #A4A8B4
    text-align: right

  .transfer-amount-max
    display: block
    margin-left: auto
    font-size: 16px
    color: #2DC8F6
    text-align: right
    text-decoration: underline

  .transfer-amount-btn
    display: block
    margin: 0 auto

  .transfer-amount-btn span
    position: relative
    padding-left: 22px
    font-size: 16px
    color: #31405E
    text-align: center

  .transfer-amount-btn span::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 10px
    height: 15px
    background: url('./../assets/icons/arrow-down.svg') center no-repeat
