.jarvis-transfer-recipient
  .transfer-recipient-input-wrapper
    position: relative
    margin-bottom: 160px

  .transfer-recipient-input
    height: 50px
    background: #FFFFFF
    border: 1px solid #E1E1F0
    opacity: 0.7
    font-size: 14px
    color: #31405E
    padding: 0 20px

  .transfer-recipient-text
    margin-bottom: 35px
    font-size: 16px
    color: #31405E
    text-align: center

  .transfer-recipient-label
    display: block
    margin-bottom: 7px
    font-weight: 700
    font-size: 10px
    color: #AFB2BD
    text-transform: uppercase

  .transfer-send-btn
    width: 100%
    height: 50px
    display: block
    background-image: linear-gradient(270deg, #0FB1EF 0%, #55FD77 100%)
    font-size: 14px
    color: #31405E
    letter-spacing: -0.08px
    font-weight: 700