.universal-login-backup
  .jarvis-backup
    .backup
      min-height: 720px
      padding-top: 185px

    .backup::before
      top: 100px
      background: url('./../assets/icons/backup-blue.svg') center no-repeat

    .backup-title
      font-weight: bold
      text-align: center
      color: #31405E

    .backup-subtitle
      max-width: 521px
      margin: 0 auto
      color: #5a667e
      line-height: 24px

    .generate-code-btn
      margin: 60px auto 0
      background: linear-gradient(270deg, #0FB1EF -2.26%, #55FD77 100%)
      border-radius: 2px
      color: #fff

    .backup-codes-list
      max-width: 420px
      margin: 37px auto 0

    .backup-codes-item
      padding: 20px
      background: rgba(185, 195, 248, 0.1)

    .backup-codes-item + .backup-codes-item
      margin-top: 16px

    .backup-codes-img
      height: 40px
      min-width: 40px
      max-width: 40px

    .backup-code-contract
      margin-bottom: 5px
      color: #31405E

    .backup-code
      font-weight: 700
      font-size: 14px
      line-height: 17px
      color: #31405E

    .backup-codes-buttons
      justify-content: flex-end
      margin: 24px 0 0
      max-width: initial

    .backup-print-btn
      color: #2EC9F5

    .backup-print-btn::before
      background: url('../assets/icons/print.svg') center no-repeat
      background-size: contain